/* CSS Document */

body,td,th 
{
	font-family: Arial;
	font-size: 11px;
	color: #5e5e5e;
}
body 
{
	margin-left: 0px;
	margin-right: 0px;
	margin:0px;
	padding:0px;
}
#main_div {
	width:1000px;
	height:auto;
	text-align: center;
}
#header_top 
{
	width:980px;
	height:125px;
	clear:right;
}

#middle_div {
	margin-left:auto;
	margin-right:auto;	
	clear:left;
}
#logo_maindiv {
	background: url(../images/logo.jpg) no-repeat;
	width:175px;
	float:left;
	height:60px;
	margin-top:25px;
}

.logo_new
{
	width:975px;
	height:80px;
	float:left;
	clear:right;
	padding-left:25px;
}
.div_menu
{
	float: right;
	width: 330px;
	margin-right:25px;

}
.allmaps_new
{
	float:left;
	width:130px;
	margin-top:10px;
}
.menu_new
{
	background-image:url(../images/top_menu_bar.jpg);
	float:left;
	width:170px;
	height:45px;
	background-repeat:no-repeat;
	margin-left:10px;
}
.top_menu {
	font-family:"Arial";
	font-size:11px;		
	color:#000000;
	padding-top:12px;
	text-decoration:none;
	float:left;
	text-align:left;
	margin-left:10px;
}

.top_menu a {
	font-family:"Arial";
	font-size:11px;
	text-decoration: none;
	color: #333333;
	padding-top:12px;
}
.top_menu a:hover {
	font-family:"Arial";
	font-size:11px;
	text-decoration: none;
	color: #000000;
}
.welcome_register {
	font-family:"Arial";
	font-size:13px;
	color:#333333;
	width:225px;
	margin-top:70px;
	margin-left:0px;
	float:left;	
}
.register {
	color:#990000;
	text-decoration:none;
}

#all_cate_bar {
	background-image:url(../images/main_bar.jpg);
	background-repeat:repeat-x;
	width:1000px;
	height:50px;
	margin-top:8px;
	float:left;
}

#all_cate_btn {
	background: url(../images/all_cate_bg_new.jpg) no-repeat right;
	width:250px;
	height:30px;
	float:left;
	padding-left:30px;
	margin-top:5px;
}
#input_textbox {
	padding-top:8px;
	padding-left:15px;
	float:left;
	
}
.search_btn {
	padding-top:6px;
	padding-left:5px;
}
#how_it_btn {
	width:114px;
	float:right;
	margin-top:2px;
	padding-right:25px;
	
} 
.flash_img {
	height:173px;
	margin-top:10px;
}
#Auction_boxes {
	width:955px;
	height: auto;
	padding-left: 6px;
}
.openAuction_mainDIV {
	width:200px;
	height:auto;
	border:1px solid;
	border-top:none;
	border-bottom:none;
	color:#cddce9;
	margin-left:17px;
}
.OpenAuction_headding {
	font-family:"Arial Narrow";
	font-size:22px;
	font-weight:bold;
	color:#0548a5;
	margin-top:3px;
	margin-left:15px;
}
.openAuction_bar_mainDIV {
	width:970px;
	height:38px;
	padding-top: 10px;
	padding-left: 15px;
}
.openAuction_bar_mainDIV2 {
	width:968px;
	margin-left: 15px;
	border-left: 1px solid #cddce9;
	border-right: 1px solid #cddce9;
}

.openAuction_bar_bottom {
	width:970px;
	margin-left: 15px;
}

.openAuction_bar_middle {
	width:956px;
	float: left;
	background: url(../images/hg_motd2.gif) repeat-x center;
	height: 14px;
	margin-top: -1px;
}

.openAuction_leftcorner {
	background:url(../images/openOuction_box_left-corner.jpg) right no-repeat top;
	width:7px;
	height:7px;
	float:left;
}
.openAucton_middle {
	background-color:#cddce9;
	background-repeat:repeat-x;
	height:1px;
	margin-top:6px;
	float: left;
}
.openAuction_rightcorner {
	background:url(../images/openOuction_box_right-corner.jpg) no-repeat right top;
	width:7px;
	height:7px;
	float:right;
}
.openAction_bar-left {
	background-image:url(../images/openOuction_bar-left.jpg);
	background-repeat:no-repeat;
	width:6px;
	height:38px;
	float: left;
}
.openAction_bar-middle {
	background-image:url(../images/openOuction_bar-middle.jpg);
	background-repeat:repeat-x;
	width:958px;
	height:38px;
	float:left;
}
.openAction_bar-right {
	background-image:url(../images/openOuction_bar-right.jpg);
	background-repeat:no-repeat;
	float:right;
	width:6px;
	height:38px;
}
.openAuction_box {
	background:url(../images/OpenAuction_box.jpg) no-repeat center;
	width:318px;
	height:219px;
	float:left;
	margin-top:13px;
}
#openAuction_box_containt {
	width:292px;
	height:219px;
	margin-left:10px;
	padding-top:9px;
	}

#openAuction_box_containt_left {
	width:140px;
	height:165px;
	float: left;
	}

#openAuction_box_containt_right {
	width:140px;
	height:165px;
	float: left;
	text-align: center;
	}

.openAuction_itemname a {
	font-family:"arial narrow";
	font-size:14px;
	color:#022c7f;
	text-decoration:none;
	font-weight:bold;
}

.openAuction_itemname a:hover {
	font-family:"arial narrow";
	font-size:14px;
	color:#022c7f;
	text-decoration:underline;
	font-weight:bold;
}

.openAuction_itemvalue {
	font-family:"arial narrow";
	font-size:18px;
	color:#ffa500;
	text-decoration:none;
	height: 30px;
}
.openAuction_timer {
	font-family:"Arial Narrow";
	font-size:25px;
	color:#000000;
	font-weight:bold;
	height: 30px;
}
.openAuction_product_price {
	font-family:"Arial Narrow";
	font-size:20px;
	color:#b2d635;
	font-weight:bold;
	height: 30px;
}
.openAuction_Bid_button {
	width:150px;
	height:auto;
	text-align: center;
}
.star_img {
	width:110px;
	height:56px;
	margin-left:45px;
}
.soldproduct_img {
	background-image:url(../images/soldProduct_img.jpg);
	background-repeat:no-repeat;
	width:158px;
	height:72px;
	margin-left:20px;
	margin-top:15px;
}
.openAuction_product_img {
	height:79px;
	width:120px;
	padding-top: 20px;
	padding-left: 15px;
}
.openAuction_bidder_name {
	font-family:"Arial Narrow";
	font-size:16px;
	color:#0a2e4f;
	text-align: center;
	height: 30px;
}
.H_beit {
	background-color:#e6edf4;
	width:958px;
	height:27px;
	font-family:"Arial Narrow";
	font-size:16px;
	color:#04749e;
	margin-left: 5px;
}
.description_headding {
	font-family:"Arial Narrow";
	font-size:16px;
	color:#04749e;
	margin-left:20px;
	padding-top: 3px;
}
.body_inner_box_price{
	width:107px;
	height:75px;
	float:left;
	clear:right;
	color:#7ec01d;
	line-height:19px;
}
.descripton_box	{
	background-image:url(../images/description_box.jpg);
	width:958px;
	height:130px;
	margin-top:15px;
	margin-left: 5px;
}
.body_inner_img{
	background-image:url(../images/inner_box_img.gif);
	background-repeat:no-repeat;
	width:124px;
	height:79px;
	padding-top:30px;
	padding-left:15px;
	float:left;
	clear:right;
	text-align:center;
}
.body_inner_decription{
	width:774px;
	height:125px;
	background-image:url(../images/inner_box_right_bg.gif);
	background-repeat:repeat-x;
	float:left;
	clear:right;
}

.decription_text {
	font-family:"Arial";
	font-size:12px;
	color:#000000;
}
.auction_decri{
	width:420px;
	height:93px;
	padding-left:30px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align:left;
}

.auction_price{
	width:125px;
	height:93px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align:center;
}
.auction_bidder{
	width:125px;
	height:93px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align:center;
	font-size:14px;
	color:#0c2f50;
}

.auction_countdown{
	width:112px;
	height:93px;
	margin-top:20px;
	float:left;
	clear:right;
	text-align: left;
}
.body_inner_box_price_heading{
	font-size:14px;
	color:#0c2f50;
	line-height:37px;
	margin-left:10px;
}

#footer{
	width:980px;
	height:141px;
	margin-top:15px;
}
#footer_left{
	background-image:url(../images/footer_main_left1.jpg);
	background-repeat:no-repeat;
	width:14px;
	height:143px;
	float:left;
	margin-top:20px;
}
#footer_middle{
	background-image:url(../images/footer_middle1.jpg);
	background-repeat:repeat-x;
	float:left;
	height:143px;
	width:925px;
	margin-top:20px;
	text-align: left;
}

#footer_right{
	background-image:url(../images/footer_main_right1.jpg);
	background-repeat:no-repeat;
	width:14px;
	height:143px;
	float:left;
	margin-top:20px;
}
#footer_mid{
	background-image:url(../images/footer_main_bg.jpg);
	background-repeat:repeat-x;
	float:left;
	clear:right;
	height:110px;
	width:900px;
	padding-top:20px;
}

.footer_link{
	color:#5e5e5e;
	text-decoration:none;
	margin-top:20px;
}

.footer_link:hover{
	color:#000000;
	text-decoration:none;
	margin-top:10px;
}

.footer_2{
	background-image:url(../images/footer_img_2.gif);
	background-repeat:no-repat;
	width:915px;
	height:30px;
	padding-top:12px;
	text-align: left;
}

.blue_link{
	color:#1a7aec;
	text-decoration:none;
}

.blue_link:hover{
	color:#000000;
	text-decoration:none;
}

.black_link{
	color:#000000;
	text-decoration:none;
}

.black_link:hover{
	color:#000000;
	text-decoration:underline;
}
.footer_bg {
	background-image:url(../images/footer_bg.jpg);
	background-repeat:repeat-x;
	width:980px;
	height:179px;
	float:left;
	padding-left: 22px;
}
.normal_text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5e5e5e;
}
.page_title_font
{
	color:#0548a5;
	font-size:22px;
	font-weight:bold;
	padding-top: 5px;
	padding-left: 20px;
	font-family:"Arial Narrow";
	text-align: left;
}
#cleaner
{
	clear: both;
}

/* new class after given to design */
.h_beit_image
{
	width: 160px;
	text-align: center;
	float: left;
	padding-top: 3px;
}
.h_beit_desc
{
	width: 380px;
	text-align: left;
	float: left;
	padding-left: 30px;
	padding-top: 3px;
}
.h_beit_price
{
	width: 140px;
	text-align: center;
	float: left;
	padding-top: 3px;
}
.h_beit_bidder
{
	width: 130px;
	text-align: center;
	float: left;
	padding-top: 3px;
}
.h_beit_countdown
{
	width: 80px;
	text-align: center;
	float: left;
	padding-top: 3px;
}
#register-now-box{
float:left;
width:500px;
height:330px;
margin-top:20px;
margin-left:35px;
display:inline;
background-color: #FFFFFF;
text-align: left;
border: 1px #cddce9 solid;}

#already-registered{
float:left;
width:360px;
margin-top:20px;
margin-left:20px;
height:330px;
text-align: left;
padding:0px;
background:url(../images/login-box-bg.gif) repeat-y left;
background-color: #FFFFFF;
border: 1px #cddce9 solid;}

.logintextboxclas{font-size:11px;
color:#30302D;
font-weight:normal;
width:228px;
border:1px solid #B6B6B6;
padding:3px;
margin-top:2px}

.red-text-12-b{
font-size:12px;
color:#C82C2F;
font-weight:bold}

.register-form{
width:885px;
height: 50px;
text-align: left;
padding-left: 40px;
clear: both;
}

.register-form .box{
float:left;
width:260px;
margin-right:20px}

.register-form .box .row{
font-size:11px;
color:#30302D;
float:left;
width:260px;
margin-bottom:3px}

.register-form .input{
font-size:11px;
color:#30302D;
font-weight:normal;
width:258px;
border:1px solid #B6B6B6;
padding:3px}

.register-form .box select{font-size:11px;
color:#30302D;
}

.register-form h4{
margin:0;
padding:0;
background:url(../images/register-h4-bg.gif) repeat-x top #F6F6F6;
border:1px solid #CCCCCC;
font-size:13px;
padding:3px 10px;
color:#30302D;
font-weight:bold;
width:700px;
height: 18px;
float:left}

.noauction_message
{
	color:#0548a5;
	font-size:18px;
	font-family:"Arial Narrow";
}
.product-title
{
	color:#ffa500;
	font-size:16px;
	font-weight:bold;
	padding-top: 15px;
	padding-left: 20px;
	font-family:"Arial Narrow";
	text-align: left;
}
.H_beit_full {
	background-color:#e6edf4;
	width:968px;
	height:27px;
	font-family:"Arial Narrow";
	font-size:16px;
	color:#04749e;
	margin-top: 15px;
}
.page_link
{
	color:#0548a5;
	font-size:14px;
	font-weight:bold;
	font-family:"Arial Narrow";
}
.paging_page
{
	color:#04749e;
	font-size:14px;
	font-weight:bold;
	font-family:"Arial Narrow";
}
.auction_decri_ended{
	width:380px;
	height:93px;
	padding-left:30px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align:left;
}
.auction_price_ended{
	width:130px;
	height:93px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align:center;
	margin-left: 10px;
}
.auction_bidder_ended{
	width:90px;
	height:93px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align:center;
	font-size:14px;
	color:#0c2f50;
}
.auction_countdown_ended{
	width:80px;
	height:93px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.auction_ended_saving
{
	width:80px;
	height:93px;
	margin-top:32px;
	float:left;
	clear:right;
	text-align: center;
}
.greenfont
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: green;
}

.h_beit_desc_ended
{
	width: 350px;
	text-align: left;
	float: left;
	padding-left: 30px;
	padding-top: 3px;
}
.h_beit_price_ended
{
	width: 135px;
	text-align: center;
	float: left;
	padding-top: 3px;
}
.h_beit_bidder_ended
{
	width: 100px;
	text-align: center;
	float: left;
	padding-top: 3px;
}
.h_beit_countdown_ended
{
	width: 80px;
	text-align: center;
	float: left;
	padding-top: 3px;
}

#help-container{margin:0;padding:0;float:left;width:1001px;}

#help-container #left-side{margin:0;padding:0;float:left;width:200px; margin-right:1px; padding-left: 15px;}

#help-container #left-side .topic{margin:0;padding:0;float:left;width:200px;}

#help-container #left-side .topic .title{margin:0;padding:0;width:200px; height:38px; background:url(../images/view_bg.gif) no-repeat top; float:left;}

#help-container #left-side .topic .title2{margin:0;padding:0;width:200px; height:59px; float:left;}

#help-container #left-side .topic .title2 h3,
#help-container #left-side .topic .title h3{ margin:0; padding:12px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff}

#help-container #left-side .topic .leftnav {background: url(../images/leftnav_bg.gif) repeat-y;margin:0;float: left;padding: 0;width: 194px;margin-left:1px; border-left: 1px solid #cddce9; border-right: 1px solid #cddce9;border-bottom: 1px solid #cddce9}

#help-container #left-side .topic .leftnav h2 {margin: 0;background: url(../images/hg_motd2.gif) #e6edf4 repeat-x bottom;width: 186px;padding: 6px 0 10px 8px;font-size:12px; font-weight:bold;}

#help-container #left-side .topic .leftnav h2 a{color: #244D91; text-decoration:none}

#help-container #left-side .topic .leftnav h2 a:hover{color: #000; text-decoration:none}

#help-container #left-side .topic .leftnav ul{margin: 0;padding: 0;background: url(../images/categories-mainlink-bot-bg.gif) #fafbfc repeat-x bottom;padding-bottom:2px;}

#help-container #left-side .topic .leftnav li {width: 192px;list-style:none;margin:0;padding:0;}

#help-container #left-side .topic .leftnav li a {background: #fafbfc url(../images/myaccount-leftnav-a-off.gif) no-repeat 7px 10px;display: block;padding: 7px 0 7px 24px;border-top:1px solid #fafbfc;border-bottom:1px solid #C1BEB5;color: #625F56;text-decoration: none;width: 156px;font-size:11px;line-height:15px; font-weight:bold;}

#help-container #left-side .topic .leftnav li a:hover {border-top:1px solid #FFFCF4;border-bottom:1px solid #C1BEB5;color: #244D91;background: #fafbfc url(../images/myaccount-leftnav-a-on.gif) no-repeat 7px 10px;}

#help-container #left-side .topic .leftnav .last,
#help-container #left-side .topic .leftnav .last:hover{ border-bottom:0px}

#help-container #left-side .topic .leftnav .first,
#help-container #left-side .topic .leftnav .first:hover{ border-top:0px}

#help-container #left-side .topic .leftnav li a.sub {background: #F0EEE2;display: block;padding: 5px 0 2px 10px;color: #625F56;text-decoration: none;width: 156px;font-size:11px;line-height:15px ; font-weight:bold; border:0px}

#help-container #left-side .topic .leftnav li a.sub:hover {color: #244D91;}

#help-container #right-side { float:right; width:200px}

#help-container #right-side .quick-links{margin:0;padding:0;float:left;width:200px; background:url(../images/view_bg.gif) no-repeat}

#help-container #right-side .quick-links .title{margin:0;padding:0;width:200px; height:38px;float:left;}

#help-container #right-side .quick-links .title h3{ margin:0; padding:12px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff;}

#help-container #right-side .quick-links .body{float:left; margin-left: 1px; width:193px; border-left: 1px solid #cddce9;border-right: 1px solid #cddce9;}

#help-container #right-side .quick-links .body ul{margin: 0;padding: 0;padding:10px 0px 15px 0px}

#help-container #right-side .quick-links .body li {width: 180px;list-style:none;margin:0;padding:0}

#help-container #right-side .quick-links .body li a {background: url(../images/myaccount-leftnav-a-off.gif) no-repeat 7px 5px;display: block;padding: 3px 0 3px 24px;color: #625F56;text-decoration: none;width: 156px;font-size:11px;line-height:15px; font-weight:bold}

#help-container #right-side .quick-links .body li a:hover {color: #244D91;background: url(../images/myaccount-leftnav-a-on.gif) no-repeat 7px 5px;}

#help-container #right-side .email{margin:0;padding:0;float:left;width:194px; background:url(../images/main_bar.jpg) repeat-x;border-left: 1px solid #cddce9; border-right: 1px solid #cddce9; margin-left: 1px;}

#help-container #right-side .email .title{margin:0;padding:0;width:185px; height:59px;float:left;}

#help-container #right-side .email .title h3{ margin:0; padding:12px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff ;}

#help-container #right-side .email .body{ background:url(../images/news-body-bg.gif) no-repeat top left; float:left; width:171px; padding-left:1px; padding:10px; text-align:center; font-size:11px; font-weight:bold; border-bottom:1px solid #D7D7CD;}

#help-container #center{
margin:0;padding:0;float:left;width:582px; text-align:left; padding-top: 2px;
}
#help-container #center-head{
margin:0;padding:0;float:left;width:582px; text-align:left;height: 37px;
}
#help-container #center #center-head #helpbar-left {
	background-image:url(../images/openOuction_bar-left.jpg);
	background-repeat:no-repeat;
	width:6px;
	height:38px;
	float: left;
}
#help-container #center #center-head #helpbar-middle {
	background:url(../images/openOuction_bar-middle.jpg) repeat-x;
	width:570px;
	height:38px;
	float:left;
}
#help-container #center #center-head #helpbar-right {
	background-image:url(../images/openOuction_bar-right.jpg);
	background-repeat:no-repeat;
	float:right;
	width:6px;
	height:38px;
}

#help-container #center #middleline {
	width:568px;
	float: left;
	background: url(../images/hg_motd2.gif) repeat-x center;
	height: 14px;
	margin-top: -1px;
}

#help-container #center #leftcorner {
	background:url(../images/openOuction_box_left-corner.jpg) right no-repeat top;
	width:7px;
	height:7px;
	float:left;
}
#help-container #center #rightcorner {
	background:url(../images/openOuction_box_right-corner.jpg) no-repeat right top;
	width:7px;
	height:7px;
	float:right;
}

#help-container #center .page-title{
float:left;
width:599px;
height:60px;
background:url(../images/page-title-bg.gif) repeat-x
}

#help-container #center .page-title .left{
float:left;
width:430px;
height:40px;
background:url(../images/page-title-left-bg.gif) no-repeat left;
font-size:12px;
color:#000000;
font-weight:bold;
padding:20px 0px 0px 20px
}

#help-container #center .page-title .right{
float:right;
width:5px;
height:60px;
background:url(../images/page-title-right-bg.gif) no-repeat right top;
text-align:right;

}

#help-container .container{
float:left;
width:552px;
font-size:12px;
padding: 14px;
border-left: 1px solid #cddce9;
border-right: 1px solid #cddce9;
color:#30302D}

#help-container .container h3{
margin:0;
padding:0;
margin-bottom:15px;
font-size:18px;
color:#244E93;
font-weight:bold}

#help-container .container p{
margin:0;
padding:0;
margin-bottom:15px;
}

.my-account-left{margin:0;padding:0;float:left;width:200px; text-align: left; padding-left: 15px;}

.my-account-left .title{margin:0;padding:0;width:200px; height:38px; background:url(../images/view_bg.gif) no-repeat; float:left}

.my-account-left .title h3{ margin:0; padding:12px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff}

.my-account-left .leftnav {margin:0;float: left;padding:0; width:194px; padding-left:0px; padding-bottom:3px; border-left: 1px solid #cddce9; border-right: 1px solid #cddce9;}

.my-account-left .leftnav h2 {margin: 0;background: url(../images/myaccount-leftnav-line-bg.gif) #D4DEEF repeat-x bottom;width: 186px;padding: 6px 0 10px 8px;font-size:11px; font-weight:bold}

.my-account-left .leftnav h2 a{color: #244D91; text-decoration:none}

.my-account-left .leftnav h2 a:hover{color: #000; text-decoration:none}

.my-account-left .leftnav ul{margin: 0;padding: 0;background: url(../images/myaccount-leftnav-line-bg.gif) #EDF2FA repeat-x bottom;padding-bottom:2px; width: 194px}

.my-account-left .leftnav li {width: 174px;list-style:none;margin:0;padding:0}

.my-account-left .leftnav li a {background: #EDF2FA url(../images/myaccount-leftnav-a-off.gif) no-repeat 7px 10px;display: block;padding: 7px 0 7px 24px;border-top:1px solid #FFFFFF;border-bottom:1px solid #BDC7D5;color: #625F56;text-decoration: none;width: 150px;font-size:11px;line-height:15px}

.my-account-left .leftnav li a:hover {border-top:1px solid #FFFFFF;border-bottom:1px solid #BDC7D5;color: #000;background: #EDF2FA url(../images/myaccount-leftnav-a-on.gif) no-repeat 7px 10px;}

.my-account-left .leftnav .last,
.my-account-left .leftnav .last:hover{ border-bottom:0px}

.my-account-left .leftnav .first,
.my-account-left .leftnav .first:hover{ border-top:0px}
