BODY {
	background-color: #FFFFFF;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

TD {
	background-color: #F4F4F4;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

TD.white {
	background-color: #FFFFFF;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;	
}

TD.admin_white {
	background-color: #FFFFFF;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
}

TD.admin_gray {
	background-color: #F4F4F4;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
}

.small {
	font-size: 11px;
}

.smaller {
	font-size: 10px;
}

A {
	color : Blue;
	text-decoration : underline;
}

A:HOVER {
	color : Red;
	text-decoration : none;
}

A.smaller {
	font-size: 10px;
	color : Blue;
	text-decoration : underline;
}

A.smaller:HOVER {
	font-size: 10px;
	color : Red;
	text-decoration : none;
}

table.white {
	background-color: #23559C;
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

table.enclosing {
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	BORDER-RIGHT: #23559C 1px solid;
	BORDER-LEFT: #23559C 1px solid;
	BORDER-TOP: #23559C 1px solid;
	BORDER-BOTTOM: #23559C 1px solid;
}

H3{
	color : #AF0000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.important{
	color: Red;
}

.medium{
	color: #FF9900;
}

INPUT {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000000;
	/*background-color:#FFFFFF;*/
}

INPUT.button {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#FFFFFF;
}

HR {
	color: #B8CFE7;
	height: 1px;
}

.open {color : #FF0000;}
.waitingreply {color : #FF9933;}
.replied {color : #0000FF;}
.resolved {color : #008000;}
.allbutresolved {color : #000000;}

.success {color : #008000;}
.error {color : #FF0000;}
.notice {color : #FF9900}
