BODY {
	COLOR: #111111; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px
}
TD {
	FONT-SIZE: 11px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999; TEXT-DECORATION: none
}
.H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #999999; TEXT-DECORATION: none
}
.H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #999999; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #111111; TEXT-DECORATION: none
}
.H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #111111; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #848642; TEXT-DECORATION: none
}
.H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #848642; TEXT-DECORATION: none
}
.noborder {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
}

H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666; TEXT-DECORATION: none
}
.H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666; TEXT-DECORATION: none
}
A.H1:hover {
	COLOR: #66ccff; TEXT-DECORATION: underline
}
A.H2:hover {
	COLOR: #66ccff; TEXT-DECORATION: underline
}
A.H3:hover {
	COLOR: #66ccff; TEXT-DECORATION: underline
}
UL.ab {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: default; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
LI.ab {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #999999; PADDING-TOP: 5px
}
A {
	FONT-SIZE: 11px;
	COLOR:#475C74 /*#336699*/;
	text-decoration: none;
}
A:hover {
	COLOR: #8C97A5/*#ff3300*/;
	text-decoration: none;

}
.tab {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tab_o {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR:	#475C74 /*#213418*/; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tab:hover {
	COLOR: #8C97A5/*#006699*/; TEXT-DECORATION: none
}
A.tab_o:hover {
	COLOR: #8C97A5/* #006699*/; TEXT-DECORATION: none
}
.tab_s {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #CCCCCC/*#1a78bd*/ 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/webadmin/images/bgs/tab_bg.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #8C97A5/*#1a78bd*/ 1px solid; PADDING-TOP: 0px; HEIGHT: 30px
}
.tab_on {
	BORDER-RIGHT: #7b7942 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 30px; BACKGROUND-COLOR: #ffffff
}
.tab_sel {
	BORDER-LEFT: #73a6ea 1px solid; BACKGROUND-COLOR: #3366cc
}
.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #d9eefd
}
.menu-a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 25px; BACKGROUND-COLOR: #b2defb
}
.menu_link {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.alert_table {
	BORDER-RIGHT: #eb690c 1px solid; BORDER-TOP: #eb690c 1px solid; BORDER-LEFT: #eb690c 1px solid; BORDER-BOTTOM: #eb690c 1px solid; BACKGROUND-COLOR: #fdfad8
}
.t-a {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 0.6em; MARGIN-BOTTOM: 0.3em; BORDER-LEFT: #cccccc 0px solid; WIDTH: 100%; BORDER-BOTTOM: #cccccc 0px solid
}
.t-a TH {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid
}
.t-a TD {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid
}
.t-b {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 0.6em; MARGIN-BOTTOM: 0.3em; BORDER-LEFT: #cccccc 0px solid; WIDTH: 100%; BORDER-BOTTOM: #cccccc 0px solid
}
.t-b TH {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid
}
.t-b TD {
	BORDER-RIGHT: #cccccc 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid
}
.th-a {
	FONT-WEIGHT: bold; COLOR: #444444; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #eeeeee
}
.th-b {
	BORDER-BOTTOM: #788574 1px solid; BACKGROUND-COLOR: #9fc9a2
}
.th-c {
	BORDER-BOTTOM: #788574 1px solid
}
.th-d {
	FONT-WEIGHT: bold; COLOR: #333333; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #ffffff
}
.bottom-line-div {
	BORDER-BOTTOM: #666666 1px solid
}
.bg-bottom-line-div {
	BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #eeeeee
}
.la {
	FONT-SIZE: 11px; COLOR:	#475C74 /*#336699*/; TEXT-DECORATION: none
}
.lb {
	FONT-SIZE: 11px; COLOR: #000066; TEXT-DECORATION: none
}
A.la:hover {
	COLOR: #8C97A5 /*#ff3300*/; TEXT-DECORATION: underline
}
A.lb:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
.b {
	FONT-SIZE: 11px; COLOR: #222222; TEXT-DECORATION: none
}
.b-s {
	FONT-SIZE: 10px; COLOR: #222222; TEXT-DECORATION: none
}
.b-l {
	FONT-SIZE: 12px; COLOR: #222222; TEXT-DECORATION: none
}
A.b:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.b-l:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.b-s:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.g {
	FONT-SIZE: 11px; COLOR: #777777; TEXT-DECORATION: none
}
.g-b {
	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none
}
.g-s {
	FONT-SIZE: 10px; COLOR: #666666; TEXT-DECORATION: none
}
.g-l {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.lg {
	FONT-SIZE: 11px; COLOR: #cccccc; TEXT-DECORATION: none
}
A.g:hover {
	COLOR: #8a8d52; TEXT-DECORATION: underline
}
A.g-l:hover {
	COLOR: #8a8d52; TEXT-DECORATION: underline
}
A.g-s:hover {
	COLOR: #8a8d52; TEXT-DECORATION: underline
}
.dir-a {
	FONT-SIZE: 11px; COLOR: #bbb89d; TEXT-DECORATION: none
}
.grn-a {
	FONT-SIZE: 11px; COLOR: #848642; TEXT-DECORATION: none
}
.a {
	FONT-SIZE: 11px; COLOR: red; TEXT-DECORATION: none
}
.a-l {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: none
}
.a-s {
	FONT-SIZE: 10px; COLOR: red; TEXT-DECORATION: none
}
.w {
	FONT-SIZE: 11px; COLOR: #ffffff; TEXT-DECORATION: none
}
.w-l {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.w-s {
	FONT-SIZE: 10px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.w:hover {
	COLOR: #8C97A5/*#006699*/; TEXT-DECORATION: none
}
A.w-l:hover {
	COLOR:#8C97A5/* #006699*/; TEXT-DECORATION: underline
}
A.w-s:hover {
	COLOR: #8C97A5/*#006699*/; TEXT-DECORATION: underline
}
.bttn {
	BORDER-RIGHT: #999999 1px outset; BORDER-TOP: #999999 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px outset; CURSOR: hand; COLOR: #333333; BORDER-BOTTOM: #999999 1px outset; BACKGROUND-COLOR: #f4f4f4
}
.bttn-a {
	BORDER-RIGHT: #213418 1px outset; BORDER-TOP: #213418 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #213418 1px outset; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #213418 1px outset; BACKGROUND-COLOR: #213418
}
.bttn-s {
	BORDER-RIGHT: #999999 1px outset;
	BORDER-TOP: #999999 1px outset;
	FONT-SIZE: 10px;
	BORDER-LEFT: #999999 1px outset;
	CURSOR: hand;
	COLOR: #333333;
	BORDER-BOTTOM: #999999 1px outset;
	BACKGROUND-COLOR: #f4f4f4;
	font-family: verdana;
}
.field {
	FONT-SIZE: 12px;
	color:#999999;
}
.f-b {
	FONT-SIZE: 11px; COLOR: #333333; BACKGROUND-COLOR: #e1e1e1
}
.f-c {
	FONT-SIZE: 11px; COLOR: #111111; BACKGROUND-COLOR: #eeeeee
}
.f-d {
	FONT-SIZE: 11px; COLOR: #000000; BACKGROUND-COLOR: #f4f4f4
}
#loading {
	Z-INDEX: 2; LEFT: 38%; VISIBILITY: hidden; POSITION: absolute; TOP: 190px; 
	
}
#loading1 {
	VISIBILITY: hidden; POSITION: absolute;
}
.paging {
	FONT-SIZE: 11px; COLOR: #336699; TEXT-DECORATION: none
}
A.paging:hover {
	COLOR: #ff6600
}
.sitename {
	letter-spacing: normal;
	FONT-WEIGHT: 900;
	FONT-SIZE: 20px;
	COLOR:  #CCCCCC;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.solidinput {
	BORDER-RIGHT: #999999 1px outset;
	BORDER-TOP: #999999 1px outset;
	FONT-SIZE: 10px;
	BORDER-LEFT: #999999 1px outset;
	CURSOR: hand;
	COLOR: #333333;
	BORDER-BOTTOM: #999999 1px outset;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}
INPUT { font-family: Verdana; font-size: 9px; color: #000000; background-color: #F7F7F7; ; border: 1pt #A7A7A7 solid}

SELECT {
	font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
TEXTAREA {
	font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.border{
	BORDER-RIGHT: #999999 1px outset;
	BORDER-TOP: #999999 1px outset;
	BORDER-LEFT: #999999 1px outset;
	BORDER-BOTTOM: #999999 1px outset;
}
.content_box_table
{
	border-width: 0px;
	border-style: solid;
	border-color: #A9B8C2;
	border-width: 1px;
}
.simpletitle{
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
}
.normalfont{
	font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
	
}
.header-cattb{background-color:#AA0000;color:#FFFBF0;border-color:#000000;font-weight:bold
}
header-cattb{background-color:#AA0000;color:#FFFBF0;border-color:#000000;font-weight:bold
}
.header-cattb-link{color:#FFFFFF
}
header-cattb-link{color:#FFFFFF
}
.folder{border:none;border-style:none
}
.bttn-manage{BORDER-RIGHT: #999999 1px outset; BORDER-TOP: #999999 1px outset; FONT-SIZE: 10px; BORDER-LEFT: #999999 1px outset; CURSOR: hand; COLOR: #FFFFFF; BORDER-BOTTOM: #999999 1px outset; BACKGROUND-COLOR: #475C74;font-weight:bold;
}
.open {color : #FF0000;}
.waitingreply {color : #FF9933;}
.replied {color : #0000FF;}
.resolved {color : #008000;}
.allbutresolved {color : #000000;}

.success {color : #008000;}
.error {color : #FF0000;}
.notice {color : #FF9900}
TD.white {
	background-color: #FFFFFF;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;	
}

TD.admin_white {
	background-color: #FFFFFF;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
}

TD.admin_gray {
	background-color: #F4F4F4;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
}
table.white {
	background-color: #23559C;
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
TD.grey {
	background-color: #F4F4F4;
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.important{
	color: Red;
}