.menu ul li a.hide, .menu ul li a:visited.hide {display:none;}
.menu ul li a:hover ul li a.hide {display:none;}

.menu ul li a:hover {color:#ffffff; background:url(../images/All-Categories.jpg);}
.menu ul li a:hover ul {display:block; position:absolute; top:23px; left:0; width:200px;}
.menu ul li a:hover ul li a.sub {background:#fff; color:#fff;}
.menu ul li a:hover ul li a {display:block; background:url(../images/All_categories_hover1.jpg); color:#ffffff;}
.menu ul li a:hover ul li#ddf a{display:block; background:url(../images/All_categories_last.jpg); color:#ffffff; background-repeat:no-repeat;}
.menu ul li a:hover ul li a ul {visibility:hidden;}
.menu ul li a:hover ul li a:hover {background:url(../images/All_categories_hover.jpg); color:#434343;}
.menu ul li a:hover ul li a:hover ul {visibility:visible; position:absolute; left:200px; top:0; color:#ffffff;}
.menu ul li a:hover ul li a:hover ul.left {left:-200px;}
