/* CSS Document */
body {
	margin-top: 0px;
	margin-left: 2.5px;
	margin-bottom: 0px;
	margin-right: 0px;
}
.style1 {
	color: #FFFFFF;
	font-size: 16px;
	font-family: "trebuchet MS";
}
.style2 {
	color: #000000;
	font-size: 20px;
	font-family: "trebuchet MS";
}
.style3 {
	color: #000000;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style4 {
	color: #000000;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style5 {
	color: #000000;
	font-size: 16px;
	font-family: "trebuchet MS";
}
.style6 {
	color: 0000FE;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style7 {
	color: #000000;
	font-size: 12px;
	font-family: "trebuchet MS";
}
.style8 {
	color: #FFFFFF;
	font-size: 20px;
	font-family: "trebuchet MS";
}
.style9 {
	color: #000000;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style10 {
	color: #FFFFFF;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style11 {
	color: #FFFFFF;
	font-size: 10px;
	font-family: "trebuchet MS";
}
/*----------Header----------*/
#Header {
	width: 1002px;
	height: 179px;
}
#Header #BG_img {
	width: 1002px;
	height: 135px;
	left: 0px;
	top: 0px;
	background: url(../images/Header_bg.jpg) no-repeat;
}
#Header #BG_img #Home {
	float: left;
	clear: right;
	height: 23px;
	width: 110px;
	background: url(../images/Home.jpg) no-repeat;
	position: absolute;
	left: 571px;
	right: 323px;
	top: 114px;
	bottom: 0px;
}
#Header #BG_img #All_button {
	width: 323px;
	height: 23px;
	right: 0px;
	top: 113px;
	bottom: 0px;
	left: 681px;
	background: url(../images/all_button.jpg) no-repeat;
	position: absolute;
	float: right;
	clear: left;
}
#Header #BG_img #All_button #atext {
	width: 273px;
	height: 17px;
	top: -1px;
	bottom: 2px;
	right: 32px;
	position: absolute;
	float: left;
	clear: right;
}
#Header #Bg_img2 {
	background:#464646 no-repeat;
	width: 1002px;
	height: 33px;
	z-index: 5;
}
/*----------popup----------*/
#pop {
	width: 228px;
	height: 23px;
	left: 17px;
	top: 180px;
	position: absolute;
	float: left;
	clear: right;
}
/*----------Register----------*/
#register {
	width: 967px;
	height: 1334px;
	background: url(../images/register.jpg) no-repeat;
	left: 17px;
	top: 217px;
	right: 18px;
	float: left;
	clear: right;
	position: absolute;
}
#register #Jtext {
	width: 786px;
	height: 19px;
	float: left;
	clear: right;
	position: absolute;
	left: 21px;
	right: 160px;
	top: 58px;
	bottom: 1257px;
}
#register #j_text1 {
	width: 513px;
	height: 63px;
	float: left;
	clear: right;
	position: absolute;
	left: 31px;
	right: 433px;
	top: 103px;
	bottom: 1168px;
}
#register #j_text2 {
	width: 897px;
	height: 61px;
	float: left;
	clear: right;
	position: absolute;
	left: 21px;
	right: 57px;
	top: 184px;
	bottom: 1105px;
}
#register #register_form {
	background: url(../images/form_img.jpg) no-repeat;
	width: 579px;
	height: 1049px;
	float: left;
	clear: right;
	position: absolute;
	left: 194px;
	right: 194px;
	top: 265px;
	bottom: 20px;
}
#register #register_form #1text_1 {
	width: 495px;
	height: 17px;
	float: left;
	clear: right;
	position: absolute;
	left: 20px;
	right: 68px;
	top: 27px;
	bottom: 1005px;
}
#register #register_form #username {
	width: 90px;
	height: 11px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 79px;
	bottom: 959px;
}
#register #register_form #username_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 78px;
	bottom: 948px;
}
#register #register_form #gender {
	width: 65px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 480px;
	top: 138px;
	bottom: 899px;
}
#register #register_form #gender_box {
	width: 73px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 209px;
	top: 139px;
	bottom: 887px;
}
#register #register_form #firstname {
	width: 90px;
	height: 11px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 199px;
	bottom: 839px;
}
#register #register_form #firstname_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 199px;
	bottom: 825px;
}
#register #register_form #lastname {
	width: 90px;
	height: 11px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 259px;
	bottom: 779px;
}
#register #register_form #lastname_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 258px;
	bottom: 766px;
}
#register #register_form #date {
	width: 110px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 435px;
	top: 318px;
	bottom: 719px;
}
#register #register_form #dd_box {
	width: 40px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 242px;
	top: 319px;
	bottom: 705px;
}
#register #register_form #mm_box {
	width: 97px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 354px;
	right: 137px;
	top: 319px;
	bottom: 705px;
}
#register #register_form #yy_box {
	width: 40px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 458px;
	right: 89px;
	top: 319px;
	bottom: 705px;
}
#register #register_form #password {
	width: 90px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 373px;
	bottom: 659px;
}
#register #register_form #password_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 373px;
	bottom: 653px;
}
#register #register_form #rpassword {
	width: 135px;
	height: 17px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 437px;
	bottom: 595px;
}
#register #register_form #rpassword_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 438px;
	bottom: 588px;
}
#register #register_form #pass_sec {
	background: url(../images/Pass_sec.jpg) no-repeat;
	width: 193px;
	height: 111px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 478px;
	bottom: 460px;
}
#register #register_form #pass_sec #ptext {
	width: 140px;
	height: 15px;
	float: left;
	clear: right;
	position: absolute;
	left: 18px;
	right: 28px;
	top: 23px;
	bottom: 73px;
}
#register #register_form #email {
	width: 110px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 630px;
	bottom: 407px;
}
#register #register_form #email_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 630px;
	bottom: 404px;
}
#register #register_form #cemial {
	width: 173px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 375px;
	top: 690px;
	bottom: 347px;
}
#register #register_form #cemail_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 690px;
	bottom: 336px;
}
#register #register_form #check_box1 {
	width: 12px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 533px;
	top: 761px;
	bottom: 276px;
}
#register #register_form #check_box2 {
	width: 12px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 533px;
	top: 792px;
	bottom: 254px;
}
#register #register_form #check_box3 {
	width: 12px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 533px;
	top: 822px;
	bottom: 232px;
}
#register #register_form #name1 {
	width: 463px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 57px;
	right: 69px;
	top: 761px;
	bottom: 276px;
}
#register #register_form #name2 {
	width: 423px;
	height: 14px;
	float: left;
	clear: right;
	position: absolute;
	left: 57px;
	right: 109px;
	top: 792px;
	bottom: 254px;
}
#register #register_form #name3 {
	width: 358px;
	height: 14px;
	float: left;
	clear: right;
	position: absolute;
	left: 58px;
	right: 177px;
	top: 823px;
	bottom: 232px;
}
#register #register_form #image {
	background: url(../images/pic_img.jpg) no-repeat;
	width: 465px;
	height: 111px;
	float: left;
	clear: right;
	position: absolute;
	left: 48px;
	right: 66px;
	top: 866px;
	bottom: 72px;
}
#register #register_form #image #itext {
	width: 185px;
	height: 40px;
	float: left;
	clear: right;
	position: absolute;
	left: 11px;
	right: 12px;
	top: 6px;
	bottom: 60px;
}
#register #register_form #image #box {
	width: 140px;
	height: 24px;
	float: left;
	clear: right;
	position: absolute;
	left: 23px;
	right: 33px;
	bottom: 9px;
	top: 72px;
}
#register #register_form #register_c {
	background: url(../images/register_1.jpg) no-repeat;
	width: 142px;
	height: 33px;
	float: left;
	clear: right;
	position: absolute;
	left: 219px;
	right: 218px;
	top: 998px;
	bottom: 18px;
	cursor: pointer;
}
#register #register_form #register_c #register_c_text {
	width: 74px;
	height: 18px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 35px;
	top: 2px;
	bottom: 8px;
	text-align: center;
}
/*----------footer----------*/
#footer {
	background: url(../images/footer_back1.jpg) repeat-x;
	width: 967px;
	height: 117px;
	left: 17px;
	right: 18px;
	top: 1571px;
	position: absolute;
	float: left;
	clear: right;
}
#footer #button {
	background: url(../images/button_img.jpg) no-repeat;
	width: 967px;
	height: 45px;
	top: 14px;
	left: 0px;
	bottom: 58px;
	position: absolute;
	float: left;
	clear: right;
}
#footer #button #ptext {
	width: 190px;
	height: 15px;
	position: absolute;
	float: left;
	clear: right;
	left: 25px;
	top: 15px;
	bottom: 15px;
}
#footer #button #SSl_logo {
	width: 115px;
	height: 30px;
	left: 232px;
	top: 8px;
	bottom: 7px;
	position: absolute;
	float: left;
	clear: right;
	background:url(../images/SSL_logo.jpg) no-repeat;
}
#footer #button #paypal_logo {
	background: url(../images/paypal.jpg) no-repeat;
	width: 96px;
	height: 30px;
	left: 367px;
	top: 8px;
	bottom: 7px;
	position: absolute;
	float: left;
	clear: right;
}
#footer #button #visa_logo {
	background: url(../images/visa.jpg) no-repeat;
	width: 250px;
	height: 30px;
	left: 483px;
	top: 8px;
	bottom: 7px;
	position: absolute;
	float: left;
	clear: right;
}
#footer #button2 {
	width: 640px;
	height: 30px;
	left: 164px;
	top: 73px;
	bottom: 14px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#footer #find {
	background: url(../images/find.jpg) no-repeat;
	width: 95px;
	height: 30px;
	right: 11px;
	top: 73px;
	bottom: 14px;
	position: absolute;
	float: left;
	clear: right;
}
.redheading
{
	color:#FF0000;
	font-family: trebuchet MS;
}