/* CSS Document */
body{margin:0;padding:0;background:url(../images/bg.jpg) #F5F5F5 repeat-x top; font-family:Arial, Helvetica, sans-serif, Tahoma}

.cleaner{clear:both;margin:0;padding:0;font-size:1px;line-height:0; height:0}

*{ margin:0; padding:0}

#wrapper{margin:0 auto;padding:0;width:1001px}

#header{float:left;height:89px;width:1001px;margin-bottom:4px}

#header #logo{float:left;height:89px;width:316px;margin:0;padding:0;}

#nav{padding: 0;width: auto;height: 24px;background: transparent;float:right;margin-top:61px;}

#nav ul{margin:0;padding:0;list-style:none;}

#nav li{display:inline;margin:0;padding:0;}

#nav a{float:left;color:#464646;background: transparent url("../images/tabs_left.gif") no-repeat left top;margin:0 0 0 3px;padding:0 0 0 7px;text-decoration:none;font-size: 11px;margin-top: 4px;font-family:  Arial, Verdana, sans-serif;}

#nav a span{float:none;display:block;color:#464646;background: transparent url("../images/tabs_right.gif") no-repeat right top;padding:5px 11px 5px 5px;font-weight:bold;}

#nav a:hover{background-position:0% -150px;}

#nav a:hover span{color: #222222;background-position:100% -150px;}

#container{margin:0;padding:0;float:left;width:1001px;}

#bannerbase{margin:0;padding:0;float:left;width:1001px;background:#fff}

#bannerbase .banner{ width:801px; margin:0; padding:0; float:left; height:141px}

#bannerbase .banner{ width:801px; margin:0; padding:0; float:left}

#bannerbase .bid-on-sms{ width:200px; margin:0; padding:0; float:right}

#home-container{margin:0;padding:0;float:left;width:1001px; background:url(../images/home-bg.gif) repeat-y}

#home-container #left-side{margin:0;padding:0;float:left;width:200px; margin-right:1px}

#home-container #left-side .categories{margin:0;padding:0;float:left;width:200px;}

#home-container #left-side .categories .title{margin:0;padding:0;width:200px; height:59px; background:url(../images/categories-title-bg.gif); float:left}

#home-container #left-side .categories .title2{margin:0;padding:0;width:200px; height:59px; background:url(../images/categories-title-bg2.gif); float:left}

#home-container #left-side .categories .title2 h3,
#home-container #left-side .categories .title h3{ margin:0; padding:18px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff}

#home-container #left-side .categories .leftnav {background: url(../images/leftnav_bg.gif) repeat-y;margin:0;float: left;padding: 0;width: 198px;margin-left:1px}

#home-container #left-side .categories .leftnav h2 {margin: 0;background: url(../images/categories-mainlink-bot-bg.gif) #E4E0CA repeat-x bottom;width: 190px;padding: 6px 0 10px 8px;font-size:11px; font-weight:bold}

#home-container #left-side .categories .leftnav h2 a{color: #244D91; text-decoration:none}

#home-container #left-side .categories .leftnav h2 a:hover{color: #000; text-decoration:none}

#home-container #left-side .categories .leftnav ul{margin: 0;padding: 0;background: url(../images/categories-mainlink-bot-bg.gif) #F0EEE2 repeat-x bottom;padding-bottom:2px}

#home-container #left-side .categories .leftnav li {width: 180px;list-style:none;margin:0;padding:0}

#home-container #left-side .categories .leftnav li a {background: #F0EEE2 url(../images/categories-link-a-bg.gif) no-repeat 7px 10px;display: block;padding: 7px 0 7px 24px;border-top:1px solid #FFFCF4;border-bottom:1px solid #C1BEB5;color: #625F56;text-decoration: none;width: 156px;font-size:11px;line-height:15px}

#home-container #left-side .categories .leftnav li a:hover {border-top:1px solid #FFFCF4;border-bottom:1px solid #C1BEB5;color: #244D91;background: #F0EEE2 url(../images/categories-link-a-on-bg.gif) no-repeat 7px 10px;}

#home-container #left-side .categories .leftnav .last,
#home-container #left-side .categories .leftnav .last:hover{ border-bottom:0px}

#home-container #left-side .categories .leftnav .first,
#home-container #left-side .categories .leftnav .first:hover{ border-top:0px}

#home-container #left-side .news{margin:0;padding:0;float:left;width:200px;}

#home-container #left-side .news .title{margin:0;padding:0;width:200px; height:59px; background:url(../images/news-title-bg.gif); float:left}

#home-container #left-side .news .title h3{ margin:0; padding:27px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff ;}

#home-container #left-side .news .body{ background:url(../images/news-body-bg.gif) no-repeat top left; float:left; width:180px; padding-left:1px}

#home-container #left-side .news .body ul{margin: 0;padding: 0;}

#home-container #left-side .news .body li {width: 140px;list-style:none;margin:0;padding:10px 20px 12px 20px; font-size:11px ; color:#625F56; background: url(../images/categories-mainlink-bot-bg.gif) repeat-x bottom}

#home-container #left-side .news .body li a {font-size:11px; font-weight:bold ; text-decoration:none ; color:#244D90; padding:1px 0px 7px 0px; display:block}

#home-container #left-side .news .body li a:hover {text-decoration: underline}

#home-container #right-side{margin:0;padding:0;float:right;width:800px;}

#home-container #right-side .topbox{margin:0;padding:0;float:left;width:800px;}

#home-container #right-side .topbox .feature-product{margin:0;padding:0;float:left;width:599px; height:395px; background:url(../images/bmw.gif) no-repeat; text-align:left}

#home-container #right-side .topbox .feature-product .textbox{ float:left; width:190px ; padding:65px 0px 0px 28px; font-size:11px; color:#fff}

#home-container #right-side .topbox .feature-product .textbox .title{ color:#D6BD69; font-size:12px; font-weight:bold}

#home-container #right-side .topbox .feature-product .textbox .price{ color:#fff; font-size:18px; font-weight: normal}

#home-container #right-side .topbox .feature-product .textbox .discription{color:#D6BD69; font-size:11px; font-weight:bold; margin:10px 0px}

#home-container #right-side .topbox .feature-product .textbox .redmore{ display:block; margin-top:10px; border:0}

#home-container #right-side .topbox .right{ float:right; width:200px}

#home-container #right-side .topbox .right .last-winner{margin:0;padding:0;float:left;width:200px; background:url(../images/lastwinner-bg.gif) repeat-y}

#home-container #right-side .topbox .right .last-winner .title{margin:0;padding:0;width:200px; height:50px; background: url(../images/lastwinner-title-bg.gif); float:left}

#home-container #right-side .topbox .right .last-winner .title h3{ margin:0; padding:18px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff ;}

#home-container #right-side .topbox .right .last-winner .body{ background:url(../images/lastwinner-body-bg.gif) no-repeat top right; float:left; width:160px; padding:8px 20px 0px 20px}

#home-container #right-side .topbox .right .last-winner .body .link{ float:left; width:155px; margin-bottom:10px}

#home-container #right-side .topbox .right .last-winner .body .link a{font-size:11px; font-weight:bold; color:#234F97; text-decoration:underline}

#home-container #right-side .topbox .right .last-winner .body .link a:hover{font-size:11px; font-weight:bold; color:#234F97; text-decoration:none}

#home-container #right-side .topbox .right .last-winner .image{ float:left; margin-right:10px; width:73px}

#home-container #right-side .topbox .right .last-winner .image img{background:#F2F3F5; padding:1px; border:1px solid #111312}

#home-container #right-side .topbox .right .last-winner .discription{color:#6B6B61; font-size:11px; float:right; width:75px; margin:0; padding:0}

#home-container #right-side .topbox .right .last-winner .discription a{font-size:11px; font-weight:bold; color:#234F97; text-decoration:underline}

#home-container #right-side .topbox .right .last-winner .discription a:hover{font-size:11px; font-weight:bold; color:#234F97; text-decoration:none}

#home-container #right-side .topbox .right .last-winner .discription p{ margin-bottom:7px ; }

#home-container #right-side .topbox .right .last-winner .discription .ended{ color:#234F97; font-weight:bold}

#home-container #right-side .topbox .right .last-winner .discription .price{ color:#C82C2F; font-weight:bold}

#home-container #right-side .topbox .right .login-box{ float:left; width:160px; height:190px; background:url(../images/login-bg.gif) no-repeat; padding:25px 20px 0px 20px}

#home-container #right-side .topbox .right .login-box .title{ float:left; width:160px; font-size:12px; font-weight:bold; color:#fff; margin-bottom:10px}

#home-container #right-side .topbox .right .login-box .lable{ float:left; width:160px; font-size:11px; color:#D7E6FF ; margin-bottom:3px}

#home-container #right-side .topbox .right .login-box .input{ float:left; width:160px; font-size:11px; color:#D7E6FF ; margin-bottom:7px}

#home-container #right-side .topbox .right .login-box .input input{width:158px; font-size:11px; color:#000 ; border-left:1px solid #092A5E ; border-top:1px solid #092A5E ; border-right:1px solid #2877D2 ; border-bottom:1px solid #2877D2}

#home-container #right-side .topbox .right .login-box .button{ float:left; width:160px; margin-top:3px}

#home-container #right-side .topbox .right .login-box .button .btn{ float:left; width:50px;}

#home-container #right-side .topbox .right .login-box .button .link{ float:right; width:100px; margin-top:3px ; text-align:right}

#home-container #right-side .topbox .right .login-box .button .link a{ font-size:11px; color:#95C7FF; text-decoration:underline}

#home-container #right-side .topbox .right .login-box .button .link a:hover{ font-size:11px; color:#95C7FF; text-decoration:none}

#home-container #right-side .topbox .right .login-box .signup{float:left; width:160px; margin-top:28px ; *margin-top:25px}

#home-container #right-side .topbox .right .login-box .signup a{font-size:11px; color:#3E3F41; text-decoration:underline}

#home-container #right-side .topbox .right .login-box .signup a:hover{font-size:11px; color:#3E3F41; text-decoration:none}

.product-listing{margin:0;padding:0;float:left;width:760px; padding:20px}

.product-listing .box{float:left; width:371px;background:url(../images/prduct-box-bg.gif) repeat-y;}

.product-listing .box-top{float:left; width:341px; background:url(../images/prduct-box-top-bg.gif) no-repeat top; padding:15px; height:210px}

.product-listing .box-top .thum{ float:left; width:145px; }

.product-listing .box-top .discription{ float:right; width:180px;}

.product-listing .box-top .discription h3{ font-size:14px; color:#235099; font-weight:bold; margin-bottom:7px}

.product-listing .box-top .discription .info{ font-size:11px; color:#625F56; margin-bottom:10px}

.product-listing .box-top .discription .date{font-size:20px; color:#0A2249}

.product-listing .box-top .discription .price{font-size:20px; color:#C82C2F}

.product-listing .box-top .discription .name{font-size:16px; color:#625F56}

.product-listing .box-top .discription .btn{ margin-top:10px}

.product-listing .margin-l{ margin-left:17px;}

.product-listing .margin-b{margin-bottom:20px}

.product-listing .box-med{float:left; width:341px;background:url(../images/prduct-box-med-bg.gif) no-repeat top; padding:11px 15px 2px 15px ; color:#625F56; font-size:11px }

.product-listing .box-bot{float:left; width:371px;background:url(../images/prduct-box-bot-bg.gif) no-repeat top; height:55px}

.product-listing .box-bot .left{ float:left; width:260px; padding:22px 0px 0px 15px; color:#625F56; font-size:11px}
.product-listing .box-bot .right{ float:right; width:86px; padding-top:17px; text-align:center}

.product-listing .box-bot .right a{ font-size:11px; color:#164495; font-weight:bold; text-decoration:none}
.product-listing .box-bot .right a:hover{ font-size:11px; color:#164495; font-weight:bold; text-decoration:underline}

#footer{ float:left; width:999px; background:url(../images/footer-bot-bg.gif) no-repeat bottom; padding:0px 1px 20px 1px; margin-bottom:20px}

#footer .topbg{ float:left; width:959px; background:url(../images/footer-top-bg.gif)  repeat-x top; padding:20px 20px 0px 20px; font-size:11px ; color:#625F56}

#footer .topbg .left{ float:left; width:509px;}

#footer .topbg .right{ float:right; width:440px; text-align:right}

#footer .topbg .right a {color:#625F56; text-decoration:none}
#footer .topbg .right a:hover {color:#625F56; text-decoration:underline}
#footer .topbg .right span{color:#E0DFD8; padding:0px 7px}

#future-auction{
margin:0;padding:0;float:left;width:599px; height:395px; text-align:left
}

.future-auction-title-bg{
position:absolute;
height:60px;
width:246px;
filter:alpha(opacity=40); 
-moz-opacity: 0.4;
background:#00225E}

.future-auction-title-text{
position:absolute;
padding:15px 30px;
width:186px;
color:#FFFFFF;
font-size:24px;
}

.future-auction-disc-bg{
position:absolute;
height:320px;
width:246px;
filter:alpha(opacity=80); 
-moz-opacity: 0.8;
background:#154291;

}

.future-auction-disc-text{
position:absolute;
padding:15px 30px;
width:186px;
color:#FFFFFF;
font-size:24px;
}


.future-auction-disc-text .textbox{ float:left; width:190px ; padding:65px 0px 0px 0px; font-size:11px; color:#fff}

.future-auction-disc-text .textbox .title{ color:#D6BD69; font-size:12px; font-weight:bold}

.future-auction-disc-text .textbox .price{ color:#fff; font-size:18px; font-weight: normal}

.future-auction-disc-text .textbox .discription{color:#D6BD69; font-size:11px; font-weight:bold; margin:10px 0px}

.future-auction-disc-text .textbox .redmore{ display:block; margin-top:10px; border:0}

.page-title{
float:left;
width:800px;
height:60px;
background:url(../images/page-title-bg.gif) repeat-x
}

.page-title .left{
float:left;
width:430px;
height:40px;
background:url(../images/page-title-left-bg.gif) no-repeat left;
font-size:12px;
color:#000000;
font-weight:bold;
padding:20px 0px 0px 20px
}

.page-title .right{
float:right;
width:330px;
height:40px;
background:url(../images/page-title-right-bg.gif) no-repeat right top;
text-align:right;
font-size:11px;
padding:20px 20px 0px 0px
}

.page-title .right span{
color:#A79C77;
padding:0px 7px}

.inner-container{
float:left;
width:779px;
margin-left:10px;
padding-bottom:10px;
display:inline}

.larg-box{
float:left;
width:779px;}

.larg-box .title-bar{
float:left;
width:779px;
background:url(../images/larg-box-title-bg.gif) repeat-x;
height:29px;}

.larg-box .title-bar .left{
float:left;
width:485px;
background:url(../images/larg-box-title-left-bg.gif) no-repeat left;
font-size:12px;
color:#30302D;
font-weight:bold;
height:21px;
padding:8px 0px 0px 15px}

.larg-box .title-bar .right{
float:right;
width:250px;
background:url(../images/larg-box-title-right-bg.gif) no-repeat right;
font-size:12px;
color:#30302D;
font-weight:bold;
height:21px;
padding:8px 15px 0px 0px;
text-align:right
}

.larg-box .body{
float:left;
width:777px;
border:1px solid #D2D1C8;
border-top:0px}

.live-auctions-grid{
float:left;
width:777px;
padding-bottom:5px
}

.live-auctions-grid .title-row{
float:left;
width:777px;
background:url(../images/liveauction-grid-title-bg.gif) repeat-x #ECEBE3 top;
border-bottom:1px solid #fff;
border-top:1px solid #fff;
font-size:11px;
color:#30302D;
font-weight:bold;
padding:8px 0px 8px 0px
}

.live-auctions-grid .title-row .image,
.live-auctions-grid .even-row .image,
.live-auctions-grid .odd-row .image{
float:left;
width:102px;
padding:0px 0px 0px 8px}

.live-auctions-grid .title-row .description,
.live-auctions-grid .even-row .description,
.live-auctions-grid .odd-row .description{
float:left;
width:366px;
padding:0px 0px 0px 8px}

.live-auctions-grid .title-row .price,
.live-auctions-grid .even-row .price,
.live-auctions-grid .odd-row .price{
float:left;
width:121px;
padding:0px 0px 0px 8px}

.live-auctions-grid .title-row .bidder,
.live-auctions-grid .even-row .bidder,
.live-auctions-grid .odd-row .bidder{
float:left;
width:76px;
padding:0px 0px 0px 8px}

.live-auctions-grid .title-row .countdown,
.live-auctions-grid .even-row .countdown,
.live-auctions-grid .odd-row .countdown{
float:left;
width:70px;
padding:0px 0px 0px 8px}

.live-auctions-grid .product-title{
float:left;
width:751px;
background: url(../images/liveauction-product-title-b.gif) repeat-x top;
font-size:17px;
color:#6C6653;
padding:10px 13px 0px 13px
}

.live-auctions-grid .even-row{
float:left;
width:777px;
background:#fff;
border-bottom:1px solid #DEDDD6;
border-top:1px solid #fff;
font-size:11px;
color:#30302D;
font-weight: normal;
padding:8px 0px
}

.live-auctions-grid .odd-row{
float:left;
width:777px;
background:#FBFAF7;
border-bottom:1px solid #DEDDD6;
border-top:1px solid #fff;
font-size:11px;
color:#30302D;
font-weight: normal;
padding:8px 0px
}




.auctionimage1
{
	float: left;
	width: 100px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	background-color: #FFFFFF;
	padding-top:5px
}

.zoomimage
{
	background-color: #D4D3CA;
	height: 15px;
	margin-top: 5px;
	text-align:right
}

.live-auctions-grid .even-row .description h3,
.live-auctions-grid .odd-row .description h3{
font-size:12px;
font-weight:bold;
color:#235099;
margin:0;
padding:0;
margin-bottom:8px
}

.live-auctions-grid .even-row .description h3 a,
.live-auctions-grid .odd-row .description h3 a{
text-decoration:none;
color:#235099;}

.live-auctions-grid .even-row .description h3 a:hover,
.live-auctions-grid .odd-row .description h3 a:hover{
text-decoration:none;
color:#000;}

.live-auctions-grid .even-row .countdown img,
.live-auctions-grid .odd-row .countdown img{
margin-top:5px}

.more-link{
font-size:11px;
color:#235099;
text-decoration:underline}

.more-link:hover{
font-size:11px;
color:#235099;
text-decoration:none}

.red-text-12-b{
font-size:12px;
color:#C82C2F;
font-weight:bold}

.gray-text-15-b{
color:#30302D;
font-size:15px;
font-weight:bold}


/* register Style */

.register-box{
float:left;
width:779px;}

.register-box .title-bar{
float:left;
width:779px;
background:url(../images/register-title-bg.gif) repeat-x;
height:32px;}

.register-box .title-bar .left{
float:left;
width:685px;
background:url(../images/register-title-left-bg.gif) no-repeat left;
font-size:15px;
color:#30302D;
font-weight:bold;
height:27px;
padding:5px 0px 0px 15px}

.register-box .title-bar .right{
float:right;
width:50px;
background:url(../images/register-title-right-bg.gif) no-repeat right;
font-size:12px;
color:#30302D;
font-weight:bold;
height:24px;
padding:8px 15px 0px 0px;
text-align:right
}

.register-box .body{
float:left;
width:727px;
padding:25px;
border:1px solid #D2D1C8;
border-top:0px;
background:url(../images/register-body-bg.gif) repeat-x top;
font-size:11px;
color:#30302D}

.register-box .body ul{
margin:0;
padding:0}


.register-box .body ul li{
margin:0;
padding:0;
list-style:none;
background:url(../images/arrow.gif) no-repeat 0px 5px;
padding-bottom:10px;
padding-left:12px}

.register-box .body p{
margin-bottom:25px}

.register-box .body h4{
margin:0;
padding:0;
background:url(../images/register-h4-bg.gif) repeat-x top #F6F6F6;
border:1px solid #CCCCCC;
font-size:13px;
padding:3px 10px;
color:#30302D;
font-weight:bold;
width:700px;
float:left}

.register-box .body .form{
float:left;
width:700px;
padding:10px 10px 0px 10px}

.register-box .body .form .box{
float:left;
width:260px;
margin-right:20px}

.register-box .body .form .box .row{
font-size:11px;
color:#30302D;
float:left;
width:260px;
margin-bottom:3px}

.register-box .body .form .input{
font-size:11px;
color:#30302D;
font-weight:normal;
width:258px;
border:1px solid #B6B6B6;
padding:3px}

.register-box .body .form .box select{font-size:11px;
color:#30302D;
}

.register-box .body .form p{
margin:0;
padding:0;
margin-bottom:10px}

.register-box .body .form .checkbox{
vertical-align:middle;
margin-right:5px}

.register-box .body .form .security-image{
background:#ff;
padding:3px;
border:1PX solid #B6B6B6}


.my-account-left{margin:0;padding:0;float:left;width:200px;}

.my-account-left .title{margin:0;padding:0;width:200px; height:57px; background:url(../images/myaccount-title.gif); float:left}

.my-account-left .title h3{ margin:0; padding:18px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff}

.my-account-left .leftnav {background:#092A5E ;margin:0;float: left;padding: 0;width:197px; padding-left:3px; padding-bottom:3px}

.my-account-left .leftnav h2 {margin: 0;background: url(../images/myaccount-leftnav-line-bg.gif) #D4DEEF repeat-x bottom;width: 186px;padding: 6px 0 10px 8px;font-size:11px; font-weight:bold}

.my-account-left .leftnav h2 a{color: #244D91; text-decoration:none}

.my-account-left .leftnav h2 a:hover{color: #000; text-decoration:none}

.my-account-left .leftnav ul{margin: 0;padding: 0;background: url(../images/myaccount-leftnav-line-bg.gif) #EDF2FA repeat-x bottom;padding-bottom:2px; width: 194px}

.my-account-left .leftnav li {width: 174px;list-style:none;margin:0;padding:0}

.my-account-left .leftnav li a {background: #EDF2FA url(../images/myaccount-leftnav-a-off.gif) no-repeat 7px 10px;display: block;padding: 7px 0 7px 24px;border-top:1px solid #FFFFFF;border-bottom:1px solid #BDC7D5;color: #625F56;text-decoration: none;width: 150px;font-size:11px;line-height:15px}

.my-account-left .leftnav li a:hover {border-top:1px solid #FFFFFF;border-bottom:1px solid #BDC7D5;color: #000;background: #EDF2FA url(../images/myaccount-leftnav-a-on.gif) no-repeat 7px 10px;}

.my-account-left .leftnav .last,
.my-account-left .leftnav .last:hover{ border-bottom:0px}

.my-account-left .leftnav .first,
.my-account-left .leftnav .first:hover{ border-top:0px}


.buy-bids-grid{
float:left;
width:777px;
padding-bottom:5px
}


.buy-bids-grid .title-row{
float:left;
width:769px;
background:url(../images/liveauction-grid-title-bg.gif) repeat-x #ECEBE3 top;
border-bottom:1px solid #fff;
border-top:1px solid #fff;
font-size:11px;
color:#30302D;
font-weight:bold;
padding:8px 0px 8px 8px
}

.buy-bids-grid .sub-title-row{
float:left;
width:769px;
background: url(../images/liveauction-product-title-b.gif) repeat-x top;
font-size:11px;
color:#30302D;
font-weight:bold;
padding:8px 0px 8px 8px
}

.buy-bids-grid .row{
float:left;
width:777px;
border-bottom:1px solid #DEDDD6;
border-top:1px solid #fff;
font-size:11px;
color:#30302D;
font-weight: normal;
padding:8px 0px
}

.buy-bids-grid .row .redio{
float:left;
width:25px;
padding-left:8px}

.buy-bids-grid .row .image{
float:left;
width:245px;
padding-right:8px
}

.buy-bids-grid .row .discription{
float:left;
width:380px;
font-size:11px;
font-weight:bold;
color:#000000}

.buy-bids-grid .row .discription h4{
font-size:14px;
font-weight:bold;
color:#000000;
padding:0;
margin:0;
margin-bottom:7px}

.buy-bids-grid .row .button{
float:right;
width:80px;
padding-right:8px}

.rounded-box{
float:left;
width:371px;
margin:11px 0px 0px 11px;
background: url(../images/rounded-box-top-bg.gif) repeat-y;
display: inline}

.rounded-box .title{
float:left;
width:359px;
font-size:13px;
font-weight:bold;
color:#235099;
padding:12px 0px 0px 12px;
height:26px;
background:url(../images/rounded-box-top.gif) no-repeat top}

.rounded-box .body{
float:left;
width:343px;
border-left:2px solid #D2D1C8;
border-right:2px solid #D2D1C8;
background:url(../images/rounded-box-body-bg.gif) repeat-x top #fff;
padding:12px 12px 0px 12px;
border-bottom:0px}

.rounded-box .body .image{
float:left;
width:140px;}

.rounded-box .body .image img{
background:#F3F1E6;
padding:5px;
border:1px solid #D2D1C8}

.rounded-box .body .disc{
float:left;
width:190px;
padding-left:10px;
font-size:17px;
font-weight:bold;
line-height:24px
}


.rounded-box .bot-bg{
float:left;
margin:0;
padding:0;
background:url(../images/rounded-box-bot-bg.gif) no-repeat bottom;
width:371px;
height:12px;
font-size:0px;
line-height:0}

.register-now-box{
float:left;
width:469px;
height:242px;
margin-top:11px;
margin-left:11px;
background:url(../images/register-now-bg.gif) no-repeat;
display:inline}

.register-now-box .title{
float:left;
width:457px;
font-size:13px;
font-weight:bold;
color:#000000;
padding:12px 0px 0px 12px;
height:26px;
}

.register-now-box .container{
float:left;
width:290px;
padding:20px 0px 0px 20px;
height:26px;
font-size:11px;
color:#0A2249
}

.register-now-box .container h4{
font-size:17px; font-weight:bold ; color:#FE8F00; margin-bottom:8px}

.register-now-box .container ul{ margin:8px 0px ; padding:0px;}

.register-now-box .container ul li{ margin:0px ; padding:0px; background:url(../images/arrow-02.gif) no-repeat 0px 2px; list-style:none; padding-left:15px; padding-bottom:3px}

.already-registered{
float:left;
width:275px;
margin:11px 0px 0px 11px;
padding:0px;
background:url(../images/login-box-bg.gif) repeat-y left;
display:inline}

.already-registered .top-bg{
float:left;
width:275px;
background:url(../images/login-box-top-bg.gif) no-repeat top left}

.already-registered .bot-bg{
float:left;
width:235px;
background:url(../images/login-box-bot-bg.gif) no-repeat bottom left;
padding:14px 20px;}

.already-registered .title{
padding-bottom:10px ;
margin-bottom:10px;
border-bottom:1px solid #DFDCCD;
float:left;
width:235px;
color:#615F56;
font-size:13px}

.darkblue-text-17-b{
font-size:17px;
color:#0A2249;
font-weight:bold}

.already-registered .form{
float:left;
width:235px;
font-size:11px}

.already-registered .form p{
margin-bottom:10px}


.already-registered .form input{font-size:11px;
color:#30302D;
font-weight:normal;
width:228px;
border:1px solid #B6B6B6;
padding:3px;
margin-top:2px}

.product-detial-box{float:left;
width:777px;
}

.product-detial-box .product-name-bar{float:left;
width:747px;
background:url(../images/prduct-detail-bg.gif) repeat-x bottom #F8F5E7;
padding:15px
}

.product-detial-box .product-name-bar .left{
float:left;
width:447px;
font-size:13px;}

.product-detial-box .product-name-bar .left .title{
font-size:13px;
font-weight:bold;
color:#235099;
margin-bottom:8px}

.product-detial-box .product-name-bar .right{
float:right;
width:245px;
text-align:right;
font-size:11px}


.product-detial-box .detail-box{float:left;
width:777px;
background:url(../images/prduct-detail-bg2.gif) repeat-x top #fff;
}



.product-detial-box .detail-box .left{
float:left;
width:359px;
margin-right:20px}

.product-detial-box .detail-box .right{
float:left;
width:359px;
}

.product-detial-box .detail-box .box{
float:left;
width:359px;
margin-bottom:20px}

.product-detial-box .detail-box .box .top{
float:left;
background: url(../images/pro-det-roundbox-top.gif) no-repeat;
height:10px;
font-size:0px;
line-height:0px;
width:359px}

.product-detial-box .detail-box .box .book-bider-top-full{
float:left;
background:url(../images/book-auto-bider-bg.gif) no-repeat;
height:27px;
font-size:14px;
cursor: pointer;
line-height:0px;
width:359px}

.product-detial-box .detail-box .box .book-bider-top{
float:left;
background:url(../images/book-auto-bider-bg.gif) no-repeat;
height:27px;
font-size:14px;
cursor: pointer;
line-height:0px;
width:180px}

.product-detial-box .detail-box .box .book-bider-top-main{
float:left;
height:27px;
font-size:14px;
line-height:0px;
width:359px}

.product-detial-box .detail-box .box .book-bider-top2-left{
float: right;
background:url(../images/larg-box-title-bg.gif) repeat-x;
height:27px;
font-size:14px;
cursor: pointer;
line-height:0px;
width:179px}

.product-detial-box .detail-box .box .book-bider-top2-right{
float: right;
background:url(../images/larg-box-title-right-bg.gif) no-repeat;
height:27px;
margin-left: 170px;
margin-top: -27px;
cursor: pointer;
font-size:14px;
line-height:0px;
width:10px}

.product-detial-box .detail-box .box .book-bider-top-my{
float:left;
background:url(../images/larg-box-title-bg.gif) repeat-x;
height:27px;
font-size:14px;
cursor: pointer;
line-height:0px;
width:170px}

.product-detial-box .detail-box .box .book-bider-top2-left-my{
float: right;
background:url(../images/middle_book_bidder.gif) repeat-x;
height:27px;
font-size:14px;
cursor: pointer;
line-height:0px;
width:179px}

.product-detial-box .detail-box .box .book-bider-top2-right-my{
float: left;
background:url(../images/larg-box-title-left-bg.gif) no-repeat;
height:27px;
cursor: pointer;
font-size:14px;
line-height:0px;
width:10px}

.product-detial-box .detail-box .box .book-bider-top2-right-my2{
float: right;
background:url(../images/right_book_bidder.gif) no-repeat;
height:27px;
margin-left: 170px;
margin-top: -27px;
cursor: pointer;
font-size:14px;
line-height:0px;
width:12px}

.product-detial-box .detail-box .box .med{
float:left;
width:357px;
background:#fff;
border-left:1px solid #D2D1C8;
border-right:1px solid #D2D1C8;}

.product-detial-box .detail-box .box .bot{
float:left;
background: url(../images/pro-det-roundbox-bot.gif) no-repeat;
height:10px;
font-size:0px;
line-height:0px;
width:359px}

.product-detial-box .detail-box .box .botgray{
float:left;
background: url(../images/pro-det-roundbox-bot-gray.gif) no-repeat;
height:10px;
font-size:0px;
line-height:0px;
width:359px}

.product-detial-box .detail-box .big-image-box{
float:left;
width:357px;
}

.product-detial-box .detail-box .big-image-box .big-image{
float:left;
width:357px;
text-align:center;
margin-bottom:10px;
}

.product-detial-box .detail-box .big-image-box .thumb{
float:left;
width:347px;
background: url(../images/thumb-bg.gif) repeat-x top #F8F5E7;
padding:10px 0px 0px 10px
}

.product-detial-box .detail-box .big-image-box .thumb-bar{
float:left;
width:347px;
font-size:11px; color:#797874
}

.product-detial-box .detail-box .big-image-box .thumb img{
border:1px solid #000;
margin-right:3px
}


.product-detial-box .detail-box .price{
float:left;
width:317px;
padding:10px 20px 0px 20px}

.product-detial-box .detail-box .price .row{
float:left;
width:317px;
margin-bottom:8px}

.product-detial-box .detail-box .price .row .title{
float:left;
width:50px;
font-size:11px;
color:#000000;
font-weight:bold}

.product-detial-box .detail-box .price .row .text{
float:left;
width:260px;
font-size:11px}

.product-detial-box .detail-box .price .row .text .pricetext{ font-size:20px; font-weight:bold; color:#C82C2F}

.product-detial-box .detail-box .price .row p{ margin-bottom:8px; padding:0}


.product-detial-box .detail-box .savings{
float:left;
width:317px;
padding:5px 20px 0px 20px;
font-size:11px}

.product-detial-box .detail-box .savings .row{
float:left;
width:317px;
margin-bottom:5px}

.product-detial-box .detail-box .savings .row .left1{
float:left;
width:250px;
}

.product-detial-box .detail-box .savings .row .right1{
float:right;
width:60px;
}

.product-detial-box .detail-box .savings .small-text{
padding-top:10px;
font-size:10px}


.product-detial-box .detail-box  .autobidder .titlerow{
float:left;
padding:5px;
background:#EEEBDD;
width:347px;
font-size:11px;
text-transform:uppercase;
border-top:1px solid #fff;
}

.product-detial-box .detail-box  .autobidder .evenrow{
float:left;
padding:5px;
width:347px;
font-size:11px;
}

.product-detial-box .detail-box  .autobidder .cell{
float:left;
width:108px;
margin-left:5px}

.product-detial-box .detail-box  .autobidder .cell .inputtextbox{
font-size:11px;
border:1px solid #B6B6B6;
width:80px;
margin-left:2px;
padding:2px}

.product-detial-text{float:left;
width:747px;
padding:15px;
font-size:11px;
color:#30302D
}

.product-detial-text p{
margin-bottom:15px}

.product-detial-text p.title{ font-size:13px}

.product-detial-text ul{
margin:0;
padding:0}

.product-detial-text ul li{
list-style:none;
background:url(../images/arrow.gif) no-repeat 5px 5px ;
padding:0px 0px 10px 20px}

/* Help Style */

#help-container{margin:0;padding:0;float:left;width:1001px; background:url(../images/home-bg.gif) repeat-y}

#help-container #left-side{margin:0;padding:0;float:left;width:200px; margin-right:1px}

#help-container #left-side .topic{margin:0;padding:0;float:left;width:200px;}

#help-container #left-side .topic .title{margin:0;padding:0;width:200px; height:59px; background:url(../images/categories-title-bg.gif); float:left}

#help-container #left-side .topic .title2{margin:0;padding:0;width:200px; height:59px; background:url(../images/categories-title-bg2.gif); float:left}

#help-container #left-side .topic .title2 h3,
#help-container #left-side .topic .title h3{ margin:0; padding:18px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff}

#help-container #left-side .topic .leftnav {background: url(../images/leftnav_bg.gif) repeat-y;margin:0;float: left;padding: 0;width: 198px;margin-left:1px}

#help-container #left-side .topic .leftnav h2 {margin: 0;background: url(../images/categories-mainlink-bot-bg.gif) #E4E0CA repeat-x bottom;width: 190px;padding: 6px 0 10px 8px;font-size:12px; font-weight:bold}

#help-container #left-side .topic .leftnav h2 a{color: #244D91; text-decoration:none}

#help-container #left-side .topic .leftnav h2 a:hover{color: #000; text-decoration:none}

#help-container #left-side .topic .leftnav ul{margin: 0;padding: 0;background: url(../images/categories-mainlink-bot-bg.gif) #F0EEE2 repeat-x bottom;padding-bottom:2px}

#help-container #left-side .topic .leftnav li {width: 180px;list-style:none;margin:0;padding:0}

#help-container #left-side .topic .leftnav li a {background: #F0EEE2 url(../images/categories-link-a-bg.gif) no-repeat 7px 10px;display: block;padding: 7px 0 7px 24px;border-top:1px solid #FFFCF4;border-bottom:1px solid #C1BEB5;color: #625F56;text-decoration: none;width: 156px;font-size:11px;line-height:15px; font-weight:bold}

#help-container #left-side .topic .leftnav li a:hover {border-top:1px solid #FFFCF4;border-bottom:1px solid #C1BEB5;color: #244D91;background: #F0EEE2 url(../images/categories-link-a-on-bg.gif) no-repeat 7px 10px;}

#help-container #left-side .topic .leftnav .last,
#help-container #left-side .topic .leftnav .last:hover{ border-bottom:0px}

#help-container #left-side .topic .leftnav .first,
#help-container #left-side .topic .leftnav .first:hover{ border-top:0px}

#help-container #left-side .topic .leftnav li a.sub {background: #F0EEE2;display: block;padding: 5px 0 2px 10px;color: #625F56;text-decoration: none;width: 156px;font-size:11px;line-height:15px ; font-weight:bold; border:0px}

#help-container #left-side .topic .leftnav li a.sub:hover {color: #244D91;}

#help-container #right-side { float:right; width:200px}

#help-container #right-side .quick-links{margin:0;padding:0;float:left;width:200px; background:url(../images/lastwinner-bg.gif) repeat-y}

#help-container #right-side .quick-links .title{margin:0;padding:0;width:200px; height:50px; background: url(../images/lastwinner-title-bg.gif); float:left}

#help-container #right-side .quick-links .title h3{ margin:0; padding:18px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff ;}

#help-container #right-side .quick-links .body{ background:url(../images/lastwinner-body-bg.gif) no-repeat top right; float:left; width:200px;}

#help-container #right-side .quick-links .body ul{margin: 0;padding: 0;padding:10px 0px 0px 0px}

#help-container #right-side .quick-links .body li {width: 180px;list-style:none;margin:0;padding:0}

#help-container #right-side .quick-links .body li a {background: url(../images/categories-link-a-bg.gif) no-repeat 7px 5px;display: block;padding: 3px 0 3px 24px;color: #625F56;text-decoration: none;width: 156px;font-size:11px;line-height:15px; font-weight:bold}

#help-container #right-side .quick-links .body li a:hover {color: #244D91;background: url(../images/categories-link-a-on-bg.gif) no-repeat 7px 5px;}

#help-container #right-side .email{margin:0;padding:0;float:left;width:200px; background:url(../images/lastwinner-bg.gif) repeat-y}

#help-container #right-side .email .title{margin:0;padding:0;width:200px; height:59px; background:url(../images/news-title-bg.gif); float:left}

#help-container #right-side .email .title h3{ margin:0; padding:27px 0px 0px 20px; font-size:12px; font-weight:bold; color:#fff ;}

#help-container #right-side .email .body{ background:url(../images/news-body-bg.gif) no-repeat top left; float:left; width:180px; padding-left:1px; padding:10px; text-align:center; font-size:11px; font-weight:bold; border-bottom:1px solid #D7D7CD}

#help-container #center{
margin:0;padding:0;float:left;width:599px; text-align:left
}

#help-container #center .page-title{
float:left;
width:599px;
height:60px;
background:url(../images/page-title-bg.gif) repeat-x
}

#help-container #center .page-title .left{
float:left;
width:430px;
height:40px;
background:url(../images/page-title-left-bg.gif) no-repeat left;
font-size:12px;
color:#000000;
font-weight:bold;
padding:20px 0px 0px 20px
}

#help-container #center .page-title .right{
float:right;
width:5px;
height:60px;
background:url(../images/page-title-right-bg.gif) no-repeat right top;
text-align:right;

}

#help-container .container{
float:left;
width:559px;
padding:20px;
font-size:12px;
color:#30302D}

#help-container .container h3{
margin:0;
padding:0;
margin-bottom:15px;
font-size:18px;
color:#244E93;
font-weight:bold}

#help-container .container p{
margin:0;
padding:0;
margin-bottom:15px;
}
/* css start provided by us */
.alink
{
	font-size:11px;
	font-weight:bold;
	color:#234F97;
	text-decoration:none;
}
.alink:hover{
	font-size:11px;
	font-weight:bold;
	color:#234F97;
	text-decoration:underline;
}
.textboxclas{
font-size:11px;
color:#30302D;
font-weight:normal;
width:258px;
border:1px solid #B6B6B6;
padding:3px}

.watchimage{
float:left;
width:102px;
padding:0px 0px 0px 8px}

.watchdescription{
float:left;
width:340px;
padding:0px 0px 0px 8px}

.watchdescription h3
{
font-size:12px;
font-weight:bold;
color:#235099;
margin:0;
padding:0;
margin-bottom:8px
}

.watchdescription h3 a{
text-decoration:none;
color:#235099;}

.watchdescription h3 a:hover{
text-decoration:none;
color:#000;}

.watchprice{
float:left;
width:115px;
padding:0px 0px 0px 8px}

.watchbidder{
float:left;
width:70px;
padding:0px 0px 0px 8px}

.watchcountdown{
float:left;
width:70px;
padding:0px 0px 0px 8px}

.watchdelete{
float:left;
width:30px;
padding:0px 0px 0px 0px}


.purchasedate{
float:left;
width:120px;
padding:0px 0px 0px 8px}

.purchasedesc{
float:left;
width:500px;
padding:0px 0px 0px 8px}

.purchasebid{
float:left;
width:110px;
padding:0px 0px 0px 8px}
.normal_text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.btnn
{
	background-image: url(../images/register-h4-bg.gif);
	background-repeat: repeat-x;
	width: 90px;
	height: 25px;
	font-weight: bold;
	cursor: pointer;
}
.greenfont
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: green;
}
.alink_big{font-size:14px; font-weight:bold; color:#234F97; text-decoration:none}
.alink_big:hover{font-size:14px; font-weight:bold; color:#234F97; text-decoration:underline}
.paging_page
{
	font-size:14px;
	font-weight:bold;
	color:#564E39;
	text-decoration:none;	
}
#bidhistory
{
	width: 300px;
	height: auto;
	float: right;
	margin-top: 10px;
	padding-bottom: 5px;
}
#historytop
{
	background-image: url(../images/hg_gbkdetails_t.png);
	background-repeat: no-repeat;
	height: 4px;
	width: 300px;
	float: right;
}
#historybot
{
	background-image: url(../images/hg_gbkdetails_b.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 300px;
	position:relative;
	float: right;
}
#detailsimage
{
	background-image: url(../images/detailline.png);
	background-repeat: no-repeat;
	height: 65px;
	width: 10px;
	margin-top: -5px;
	float: right;
	padding-right: 26px;
}
#historydetails
{
	height:auto;
	width: 298px;
	position: relative;
	float: right;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #DD0000;
	background-color: #FFFFFF;
}
#bidhistory_bid_history
{
	width: 300px;
	height: auto;
	padding-right: 10px;
	float: right;
	padding-bottom: 5px;
	margin-top: -10px;
}
#historydetails
{
	height:auto;
	width: 298px;
	position: relative;
	float: right;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #DD0000;
	background-color: #FFFFFF;
}
.wonimage{
float:left;
width:102px;
padding:0px 0px 0px 8px}

.wondescription{
float:left;
width:240px;
padding:0px 0px 0px 8px}

.wondescription h3
{
font-size:12px;
font-weight:bold;
color:#235099;
margin:0;
padding:0;
margin-bottom:8px
}

.wondescription h3 a{
text-decoration:none;
color:#235099;}

.wondescription h3 a:hover{
text-decoration:none;
color:#000;}

.wonprice{
float:left;
width:125px;
padding:0px 0px 0px 8px}

.wonbidder{
float:left;
width:110px;
padding:0px 0px 0px 8px}

.woncountdown{
float:left;
width:120px;
padding:0px 0px 0px 8px}

.endedimage{
float:left;
width:102px;
padding:0px 0px 0px 8px}

.endeddescription{
float:left;
width:300px;
padding:0px 0px 0px 8px}

.endeddescription h3
{
font-size:12px;
font-weight:bold;
color:#235099;
margin:0;
padding:0;
margin-bottom:8px
}

.endeddescription h3 a{
text-decoration:none;
color:#235099;}

.endeddescription h3 a:hover{
text-decoration:none;
color:#000;}

.endedprice{
float:left;
width:115px;
padding:0px 0px 0px 8px}

.endedbidder{
float:left;
width:70px;
padding:0px 0px 0px 8px}

.endedcountdown{
float:left;
width:70px;
padding:0px 0px 0px 8px}

.endeddelete{
float:left;
width:70px;
padding:0px 0px 0px 0px}

.alink_midium
{
font-size:13px;
font-weight:bold;
color:#235099;
text-decoration: none;
}
.alink_midium:hover
{
font-size:13px;
font-weight:bold;
color:#235099;
text-decoration: underline;
}
.autobidder_content
{
	margin-top: 14px;
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#000000;
	position: relative;
}
