/* CSS Document */
body {
	margin-top: 0px;
	margin-left: 2.5px;
	margin-bottom: 0px;
	margin-right: 0px;
}
.style1 {
	color: #FFFFFF;
	font-size: 16px;
	font-family: "trebuchet MS";
}
.style2 {
	color: #000000;
	font-size: 16px;
	font-family: "trebuchet MS";
}
.style3 {
	color: #E06002;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style4	{
	color: #0000FF;
	font-size: 16px;
	font-family: "trebuchet MS";
}
.style5 {
	color: #000000;
	font-size: 16px;
	font-family: "trebuchet MS";
	
}
.style6 {
	color: #000000;
	font-size: 14px;
	font-family: "trebuchet MS";

}
.style7 {
	color: #1135bd;
	font-size: 14px;
	font-family: "trebuchet MS";
	text-align: center;
}
.style8 {
	color: #1135bd;
	font-size: 17px;
	font-family: "trebuchet MS";
}
.style9 {
	color: #000044;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style10 {
	color: #E06002;
	font-size: 22px;
	font-family: "trebuchet MS";
}
.style11 {
	color: #1135BD;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style12 {
	color: #FFFFFF;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style13 {
	color: E06002;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style14 {
	color: #000000;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style15 {
	color: #000000;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style16 {
	color: #000000;
	font-size: 12px;
	font-family: "trebuchet MS";
}
.style17 {
	color: #FFFFFF;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style18 {
	color: #FFFFFF;
	font-size: 10px;
	font-family: "trebuchet MS";
}
.style19 {
	color: #000000;
	font-size: 12px;
	font-family: "trebuchet MS";
}
.style20 {
	color: #000000;
	font-size: 20px;
	font-family: "trebuchet MS";
}
.style21 {
	color: #000000;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style22 {
	color: #000000;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style23 {
	color: #000000;
	font-size: 16px;
	font-family: "trebuchet MS";
}
.style24 {
	color: 0000FE;
	font-size: 14px;
	font-family: "trebuchet MS";
}
.style25 {
	color: #000000;
	font-size: 12px;
	font-family: "trebuchet MS";
}
.style26 {
	color: #FFFFFF;
	font-size: 20px;
	font-family: "trebuchet MS";
	clear:both;
}
/*----------Header----------*/
#Header {
	width: 1000px;
	height: 200px;
}
#Header #BG_img {
	width: 1000px;
	height: 135px;
	left: 0px;
	top: 0px;
	background: url(../images/Header_bg.jpg) no-repeat;
}
#Header #BG_img #All_Button {
	width: 500px;
	height: 25px;
	float: right;
	clear: left;
	position: relative;
	right: 1px;
	top: 110px;
	bottom: 44px;
	/*display:none;*/
	
}
#Header #BG_img #All_Button #home {
	background: url(../images/home_hover.jpg) no-repeat;
	width: 99px;
	height: 25px;
	float: left;
	clear: right;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 29px;
	/*right: 372px;*/
}
#Header #BG_img #All_Button #h_m {
	background: url(../images/h_m_hover_left.jpg) no-repeat;
	width: 30px;
	height: 25px;
	float: left;
	clear: right;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 128px;
	/*right: 342px;*/
}
#Header #BG_img #All_Button #my {
	background: url(../images/my.jpg) no-repeat;
	width: 98px;
	height: 25px;
	float: left;
	clear: right;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 158px;
	/*right: 244px;*/
}
#Header #BG_img #All_Button #m_r {
	background: url(../images/m_r.jpg) no-repeat;
	width: 31px;
	height: 25px;
	float: left;
	clear: right;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 256px;
	/*right: 213px;*/
	
}
#Header #BG_img #All_Button #register {
	background: url(../images/register.jpg) no-repeat;
	width: 79px;
	height: 25px;
	float: left;
	clear: right;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 287px;
	/*right: 139px;*/
	border:none;
	
}
#Header #BG_img #All_Button #r_h {
	background: url(../images/r_h.jpg) no-repeat;
	width: 31px;
	height: 25px;
	float: left;
	clear: right;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 366px;
	/*right: 103px;*/
}
#Header #BG_img #All_Button #help {
	background: url(../images/Help.jpg) no-repeat;
	width: 103px;
	height: 25px;
	float: left;
	clear: right;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left:397px;
	/*right: 0px;*/
}
#Header #Bg_img2 {
	background:#464646 repeat-x;
	width: 1000px;
	height: 33px;
}
/*----------popup----------*/
#Header #pop {
	background: url(../images/All-Categories.jpg);
	width: 228px;
	height: 24px;
	left: 15px;
	float: left;
	clear: right;
	top: 4px;
	position: relative;
}
/*----------body----------*/
#main_body
{
	width: 967px;
	text-align: center;
	
}
#body {
	background: url(../images/News1.jpg) no-repeat;
	width: 967px;
	height: 217px;
	top:6px;
	left:0px;
	border: #000000;
	position:relative;
	border-left: 1px solid;
}
#body #img1 {
	background: url(../images/News.jpg) repeat-x;
	width: 964px;
	height: 28px;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	left: 0px;
	right: 1px;
	top: 1px;
}
#body #content {
	height: 128px;
	width: 313px;
	top: 53px;
	left: 52px;
	float:left;
	clear:right;
}
#body #content2 {
	width: 328px;
	top: 82px;
	left: 334px;
	float: left;
	clear: right;
	
}
#body #content2 #img2 {
	background: url(../images/l.jpg) repeat-x;
	width: 252px;
	height: 25px;
	top: 15px;
	text-align: center;
	position:relative;
}
#body #content2 #content2_1 {
	width: 289px;
	height: 16px;
	left:10px;
	top:20px;
	clear:right;
	position:relative;
}
#body #content2 #content2_2 {
	width: 200px;
	height: 73px;
	text-align:center;
	top: 25px;
	right: 5px;
	position:relative;
}
#body #login {
	
	width: 312px;
	clear: right;
	float: left;
	top: 0px;
	left: 10px;
	right: 24px;
	position:relative;
}
#login #img3 {
	background: url(../images/l.jpg) repeat-x;
	width: 225px;
	height: 25px;
	top: 0px;
	clear:both;
	position:relative;
}
#body #login_box {
	height: 20px;
	width: 53px;
	top: 0px;
	left: 125px;
	float:left;
	clear:both;
	position:relative;
}
ul
{
	list-style-type: none;
	
}
li
{
padding-top:4px;
}
#body #userpass
{
	
	float: left;
	clear: both;
	top: 10px;
	position:relative;
}
#body #forgotpass
{
	width:260px;
	float: left;
	clear: both;
	top: 5px;
	left:35px;
	position:relative;

}
/*----------bid----------*/
#bid {
	background: url(../images/Bid_top.jpg) no-repeat;	
	width:966px;
	height:590px;
	border-bottom: 1px solid;
	top: 20px;
	left: 0px;	
	clear: right;
	position:relative;
} 

#bid #bid_mid {
	background: url(../images/bid_middle.jpg) repeat-y;
	width:967px;
	top:580px;
	left: 0px;
	right: 0px;
	position:absolute;
}
#bid #bid_bot {
	background: url(../images/bid_bottom.jpg) no-repeat;
	width: 965px;
	height: 6px;
	clear: right;
	position:absolute;
	left: 0px;
	right: 0px;
	top:593px;
}
#bid #bid1 {
	background: url(../images/bid1.jpg) repeat-x;
	width: 964px;
	height: 28px;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	left: 0px;
	right: 1px;
	top: 1px;
	bottom: 1px;
	position: absolute;
}
#bid #pro1 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	top: 49px;
	left: 8px;
	float:left;
	position:relative;
	
}
#bid #pro1 #pro1_text1 {
	width: 130px;
	height: 25px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro1 #pro1_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	display: block;
}

#bid #pro1 #pro1_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	top: 168px;
	position: absolute;
	display: block;
}
#bid #pro1 #pro1_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	display: block;
}
#bid #pro1 #pro1_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	left: 26px;
	right: 27px;
	top: 224px;
	position:absolute;
}
#bid #pro2 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	float: left;
	top: 49px;
	left: 28px;
	position:relative;
}
#bid #pro2 #pro2_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro2 #pro2_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}

#bid #pro2 #pro2_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro2 #pro2_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro2 #pro2_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top:224px;
}
#bid #pro3 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left: 48px;
	top: 49px;
	float: left;
	position: relative;
}
#bid #pro3 #pro3_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro3 #pro3_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro3 #pro3_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro3 #pro3_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro3 #pro3_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
#bid #pro4 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left: 68px;
	right: 208px;
	top: 49px;
	float: left;
	clear: right;
	position: relative;
}
#bid #pro4 #pro4_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro4 #pro4_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro4 #pro4_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro4 #pro4_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro4 #pro4_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
#bid #pro5 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left: 88px;
	top: 49px;
	float: left;
	clear: right;
	position: relative;
}
#bid #pro5 #pro5_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro5 #pro5_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro5 #pro5_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro5 #pro5_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro5 #pro5_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
#bid #pro6 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left: 8px;
	top: 60px;
	float:left;	
	position:relative;
}
#bid #pro6 #pro6_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro6 #pro6_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}

#bid #pro6 #pro6_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro6 #pro6_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro6 #pro6_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
#bid #pro7 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left: 28px;
	top: 60px;
	float: left;
	clear: right;
	position: relative;
}
#bid #pro7 #pro7_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro7 #pro7_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro7 #pro7_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro7 #pro7_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro7 #pro7_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
#bid #pro8 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left: 48px;
	right: 398px;
	top: 60px;
	float: left;
	position: relative;
}
#bid #pro8 #pro8_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro8 #pro8_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro8 #pro8_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro8 #pro8_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro8 #pro8_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
#bid #pro9 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left: 68px;
	right: 208px;
	top: 60px;
	float: left;
	position: relative;
}
#bid #pro9 #pro9_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro9 #pro9_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro9 #pro9_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro9 #pro9_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro9 #pro9_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
#bid #pro10 {
	background:url(../images/pro1.jpg) no-repeat;
	width: 174px;
	height: 262px;
	left:88px;
	top:60px;
	float: left;
	position: relative;
}
#bid #pro10 #pro10_text1 {
	width: 130px;
	height: 33px;
	top: 8px;
	left: 25px;
	right: 36px;
	position: absolute;
	float: left;
	clear: right;
}
#bid #pro10 #pro10_text2_1 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 130px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}

#bid #pro10 #pro10_text2_2 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 168px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro10 #pro10_text2_3 {
	width: 99px;
	height: 14px;
	left: 36px;
	right: 36px;
	top: 195px;
	position: absolute;
	float: left;
	clear: right;
	display: block;
}
#bid #pro10 #pro10_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 26px;
	right: 27px;
	top: 224px;
}
/*----------live----------*/
#live {
	width: 967px;
	height: auto;
	clear: right;
	left: 0px;
	position:relative;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px;
}
#live #live_mid {
	background: url(../images/live_auctions1_mid.jpg) repeat-y;
	width: 967px;
	height: 19px;
	left: 0px;
	right: 0px;
	top: 1235px;
	position: absolute;
}
#live #live_bot {
	background: url(../images/News.jpg) repeat;
	width: 967px;
	height: 27px;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid;
	margin-top: 10px;
}
#live #live_bot1 {
	background: url(../images/live_bot1.jpg) repeat-x;
	width: 965px;
	height: 25px;
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
}
#live #live1 {
	background: url(../images/live1.jpg) repeat-x;
	width: 965px;
	height:28px;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	float: left;
	position: relative;
}
#live #live_otext1 {
	width: 965px;
	height: 24px;
	left: 1px;
	right: 1px;
	float:left;
	position: relative;
}
#live #live_otext1 #itext_1 {
	width: 600px;
	height: 17px;
	top: 4px;
	float: left;
}
#live #live_otext1 #ptext_1 {
	width: 130px;
	height: 13px;
	top: 4px;
	float:left;
}
#live #live_otext1 #btext_1 {
	width: 100px;
	height: 13px;
	top: 4px;
	float: left;
}
#live #live_otext1 #ctext_1 {
	width: 100px;
	height: 13px;
	top: 4px;
	float: right;
	padding-right: 25px;
}
#live #pro_1 {
	background:url(../images/pro_1.jpg) no-repeat;
	clear: both;
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_1 #pro1_productimage
{
	position: absolute;
	float:left;
    width: 100px;
}
#live #pro_1 #pro_1_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
}
#live #pro_1 #pro_1_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_1 #pro_1_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_1 #pro_1_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_1 #pro_1_bid_click {
	width: 118px;
	height: 27px;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_2 {
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_2 #pro_2_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_2 #pro_2_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_2 #pro_2_btext {
	width: 71px;;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_2 #pro_2_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_2 #pro_2_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_3 {
	background:url(../images/pro_1.jpg) no-repeat;
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_3 #pro_3_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_3 #pro_3_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_3 #pro_3_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_3 #pro_3_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_3 #pro_3_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_4 {
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_4 #pro_4_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_4 #pro_4_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_4 #pro_4_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_4 #pro_4_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_4 #pro_4_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_5 {
	background:url(../images/pro_1.jpg) no-repeat;
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_5 #pro_5_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_5 #pro_5_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_5 #pro_5_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_5 #pro_5_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_5 #pro_5_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_6 {
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_6 #pro_6_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_6 #pro_6_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_6 #pro_6_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_6 #pro_6_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_6 #pro_6_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_7 {
	background:url(../images/pro_1.jpg) no-repeat;
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_7 #pro_7_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_7 #pro_7_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_7 #pro_7_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_7 #pro_7_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_7 #pro_7_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_8 {
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_8 #pro_8_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_8 #pro_8_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_8 #pro_8_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_8 #pro_8_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_8 #pro_8_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_9 {
	background:url(../images/pro_1.jpg) no-repeat;
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_9 #pro_9_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_9 #pro_9_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_9 #pro_9_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_9 #pro_9_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_9 #pro_9_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
#live #pro_10 {
	width: 964px;
	height: 120px;
	left: 1px;
	right: 1px;
	position: relative;
}
#live #pro_10 #pro_10_itext {
	width: 338px;
	height: 85px;
	left: 182px;
	top: 14px;
	right: 447px;
	position: absolute;
	float: left;
	clear: right;
}
#live #pro_10 #pro_10_ptext {
	width: 115px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 567px;
	right: 291px;
}
#live #pro_10 #pro_10_btext {
	width: 71px;
	height: 33px;
	position: absolute;
	float: left;
	clear: right;
	top: 43px;
	left: 723px;
	right: 174px;
}
#live #pro_10 #pro_10_ttext {
	width: 103px;
	height: 19px;
	position: absolute;
	float: left;
	clear: right;
	left: 835px;
	top: 32px;
	right: 27px;
}
#live #pro_10 #pro_10_bid_click {
	width: 118px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 826px;
	right: 21px;
	top: 79px;
}
/*----------Register----------*/
#register {
	width: 967px;
	height: 1320px;
	background: url(../images/register1.jpg) repeat-x;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	position: relative;
	top: 4px;
}
#register #Jtext {
	width: 786px;
	height: 19px;
	float: left;
	clear: right;
	position: absolute;
	left: 21px;
	right: 160px;
	top: 58px;
}
#register #j_text1 {
	width: 513px;
	height: 63px;
	float: left;
	clear: right;
	position: absolute;
	left: 31px;
	right: 433px;
	top: 103px;
}
#register #j_text2 {
	width: 897px;
	height: 61px;
	float: left;
	clear: right;
	position: absolute;
	left: 21px;
	right: 57px;
	top: 184px;
}
#register #register_form {
	width: 579px;
	height: 1049px;
	float: left;
	clear: right;
	position: absolute;
	left: 194px;
	right: 194px;
	top: 265px;
}
#register #register_form #u_line1 {
	background: url(../images/line3.jpg) repeat-x;
	width: 508px;
	height: 2px;
	float: left;
	clear: right;
	position: absolute;
	left: 29px;
	right: 42px;
	top: 112px;
}
#register #register_form #p_line1 {
	background: url(../images/line3.jpg) repeat-x;
	width: 508px;
	height: 2px;
	float: left;
	clear: right;
	position: absolute;
	left: 29px;
	right: 42px;
	top: 354px;
}
#register #register_form #e_line1 {
	background: url(../images/line3.jpg) repeat-x;
	width: 508px;
	height: 2px;
	float: left;
	clear: right;
	position: absolute;
	left: 29px;
	right: 42px;
	top: 475px;
}
#register #register_form #c_line1 {
	background: url(../images/line3.jpg) repeat-x;
	width: 508px;
	height: 2px;
	float: left;
	clear: right;
	position: absolute;
	left: 29px;
	right: 42px;
	top: 596px;
}
#register #register_form #register2_top {
	background: url(../images/register2_top.jpg) no-repeat;
	width: 579px;
	height: 27px;
	float: left;
	clear: right;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
}
#register #register_form #register2_mid {
	background: url(../images/register2_mid.jpg) repeat-y;
	width: 579px;
	height: 940px;
	float: left;
	clear: right;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 27px;
}
#register #register_form #register2_bot {
	background: url(../images/register2_bot.jpg) no-repeat;
	width: 579px;
	height: 20px;
	left: 0px;
	right: 50px;
	top: 929px;
	position: absolute;
}
#register #register_form #1text_1 {
	width: 495px;
	height: 17px;
	float: left;
	clear: right;
	position: absolute;
	left: 20px;
	right: 68px;
	top: 27px;
}
#register #register_form #username {
	width: 90px;
	height: 11px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 79px;
}
#register #register_form #username_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 78px;
}
#register #register_form #gender {
	width: 65px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 480px;
	top: 138px;
}
#register #register_form #gender_box {
	width: 73px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 209px;
	top: 139px;
}
#register #register_form #firstname {
	width: 90px;
	height: 11px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 199px;
}
#register #register_form #firstname_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 199px;
}
#register #register_form #lastname {
	width: 90px;
	height: 11px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 259px;
}
#register #register_form #lastname_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 258px;
}
#register #register_form #date {
	width: 110px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 435px;
	top: 318px;
}
#register #register_form #dd_box {
	width: 40px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 242px;
	top: 319px;
}
#register #register_form #mm_box {
	width: 97px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 354px;
	right: 137px;
	top: 319px;
}
#register #register_form #yy_box {
	width: 40px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 458px;
	right: 89px;
	top: 319px;
}
#register #register_form #password {
	width: 90px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 373px;
}
#register #register_form #password_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 373px;
}
#register #register_form #rpassword {
	width: 135px;
	height: 17px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 437px;
}
#register #register_form #rpassword_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 438px;
}
#register #register_form #pass_sec {
	background: url(../images/Pass_sec.jpg) no-repeat;
	width: 193px;
	height: 111px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 478px;
}
#register #register_form #pass_sec #ptext {
	width: 140px;
	height: 15px;
	float: left;
	clear: right;
	position: absolute;
	left: 18px;
	right: 28px;
	top: 23px;
}
#register #register_form #email {
	width: 110px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 455px;
	top: 500px;
}
#register #register_form #email_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 500px;
}
#register #register_form #cemial {
	width: 173px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 375px;
	top: 560px;
}
#register #register_form #cemail_box {
	width: 193px;
	height: 23px;
	float: left;
	clear: right;
	position: absolute;
	left: 297px;
	right: 89px;
	top: 560px;
}
#register #register_form #check_box1 {
	width: 12px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 533px;
	top: 641px;
}
#register #register_form #check_box2 {
	width: 12px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 533px;
	top: 668px;
}
#register #register_form #check_box3 {
	width: 12px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 34px;
	right: 533px;
	top: 695px;
}
#register #register_form #name1 {
	width: 463px;
	height: 12px;
	float: left;
	clear: right;
	position: absolute;
	left: 57px;
	right: 69px;
	top: 645px;
}
#register #register_form #name2 {
	width: 423px;
	height: 14px;
	float: left;
	clear: right;
	position: absolute;
	left: 57px;
	right: 109px;
	top: 672px;
}
#register #register_form #name3 {
	width: 358px;
	height: 14px;
	float: left;
	clear: right;
	position: absolute;
	left: 58px;
	right: 177px;
	top: 699px;
}
#register #register_form #image {
	background: url(../images/pic_img.jpg) no-repeat;
	width: 465px;
	height: 111px;
	float: left;
	clear: right;
	position: absolute;
	left: 48px;
	right: 66px;
	top: 750px;
}
#register #register_form #image #itext {
	width: 185px;
	height: 40px;
	float: left;
	clear: right;
	position: absolute;
	left: 11px;
	right: 12px;
	top: 6px;
}
#register #register_form #image #box {
	width: 140px;
	height: 24px;
	float: left;
	clear: right;
	position: absolute;
	left: 23px;
	right: 33px;
	top: 72px;
}
#register #register_form #image #SecurityImage {
	width: 140px;
	height: 24px;
	float: left;
	clear: right;
	position: absolute;
	left: 210px;
	top: 5px;
}
#register #register_form #register_c {
	background: url(../images/register_1.jpg) no-repeat;
	width: 142px;
	height: 33px;
	float: left;
	clear: right;
	position: absolute;
	left: 182px;
	top: 135px;
}
#register #register_form #register_c #register_c_text {
	width: 74px;
	height: 18px;
	float: left;
	clear: right;
	position: absolute;
	right: 35px;
	top: 2px;
	bottom: 8px;
	text-align: center;
}
/*----------footer----------*/
#main_footer
{
	width: 1000px;
	text-align: center;
}

#main_footer #footer {
	background: url(../images/footer_back1.jpg) repeat-x;
	width: 999px;
	height: 117px;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	right: 19px;
}
#footer #button {
	background: url(../images/button_img.jpg) repeat-x;
	width: 965px;
	height: 45px;
	position: relative;
	top: 14px;
	text-align: center;
}
#footer #button #ptext {
	width: 190px;
	height: 15px;
	float: left;
	left: 7px;
	top: 14px;
	position: absolute;
/*	bottom: 15px;*/
}
#footer #button #SSl_logo {
	width: 115px;
	height: 30px;
	top: 7px;
	bottom: 7px;
	position: relative;
	left: 195px;
	float: left;
	background:url(../images/SSL_logo.jpg) no-repeat;
}
#footer #button #paypal_logo {
	background: url(../images/paypal.jpg) no-repeat;
	width: 96px;
	height: 30px;
	bottom: 7px;
	top: 7px;
	left: 195px;
	float:left;
	position: relative;
	
}
#footer #button #visa_logo {
	background: url(../images/visa.jpg) no-repeat;
	width: 250px;
	height: 30px;
	top: 7px;
	bottom: 7px;
	position: relative;
	left: 195px;
	float:left;
	clear: right;
}
#footer #button2 {
/*	left: 164px;*/
	width: 500px;
	text-align: center;
	float: left;
	position:relative;
	left: 245px;
	top: 24px;
}
#footer #button2 #footerlinks
{
}
#footer #find {
	background: url(../images/find.jpg) no-repeat;
	width: 90px;
	height: 30px;
	right: 11px;
	float:left;
	padding-right: 15px;
	position: relative;
	top: 25px;
	left: 387px;
}
/*-------General Styles-------*/
.redheading
{
	color:#FF0000;
	font-size: 12px;
	font-family: trebuchet MS;
}
.alink
{
  text-decoration: none;
  color: #454e53;
  cursor: pointer;
}
.alink:hover
{
	text-decoration: underline;
}
.alinkmain
{
  text-decoration: none;
  color: #7d0520;
  cursor: pointer;
}
.alinkmain:hover
{
	text-decoration: underline;
}
#account {
	width: 967px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	background: url(../images/bid1.jpg) repeat-x;
	position: relative;
	height: auto;
	top: 4px;
}
#latwinner
{
 background-image: url(../images/footer_back.jpg);
 top: 100px;
 width:300px;
 height:10pt;
 margin-left: 8.7cm;
}
#title
{
	text-align: left;
	margin-top: 0.1cm;
}
#view
{
	background-image: url(../images/All_categories.jpg);
	background-repeat:repeat-x;
	width: 200px;
	float: left;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	position: relative;
	left: 10px;
	top: 20px;
	text-align: left;
}
#left
{
	width: 184px;
}
.maintopic
{
	color:#7d0520;
	font-family: "Century Gothic";
	font-size: 14px;
	width: 185px;
	padding-top: 5px;
	font-weight: bold;
}
.subtopic
{
	color:#454e53;
	font-family: "arial";
	font-size: 12px;
	padding-top: 2px;
}
#middle
{
	width: 650px;
	float: right;
	position: relative;
	top: 15pt;
	right: 30px;
}
.mainhome
{
	color:#7d0520;
	font-family: 'Century Gothic';
	font-size: 14px;
	width: 185px;
	font-weight: bold;
	margin-left: 10px;
}
.subhome
{
	color:#454e53;
	font-family: "arial";
	font-size: 12px;
	width: 185px;
	text-align: left;
	margin-left: 10px;
}
#alignmain
{
	margin-top: 3px;
}
.style27
{
	color: 0000FE;
	font-size: 14px;
	font-family: "arial";
	font-weight: 600;
}
.style28
{
	color: #333333;
	font-size: 14px;
	font-family: "arial";
}
#delivery_address
{
	width: 500pt;
	height: 245pt;
	display: none;
}
#billing_address
{
	width: 500pt;
	height: 225pt;
	display: block;
}
#edit_address
{
	width: 500pt;
	height: 225pt;
	display: none;
}
.btnn
{
	background-image:url(../images/button1.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	width: 100px;
	font-weight: bold;
	border: 0 0 0 0;
	height: 25px;
	cursor: pointer;
}
.setlist
{
	font-size: 14px;
	color: #000000;
}
.sethr
{
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #000066;
	margin-left: 10px;
}
#hrset
{
	background-image: url(../images/trenner.gif);
	background-repeat: repeat-x;
	width: 450pt;
	height: 1pt;
	position: absolute;
	display: table-row;
}
.textbox
{
font-size: 11px; color: #000000; border: #454e53; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color:#FFFFFF;	
}
.checkbox
{
font-size: 11px; color: #000000; background-color:#FFFFFF; border: none;
}
#loginpage
{
	border: 1px 1px 1px 1px solid;
	background-image: url(../images/News.jpg);
	background-repeat: repeat-x;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1ox solid;
	position: relative;
	height: 480px;
	width: 967px;
	top: 20px;
}
#auctions
{
	background-image: url(../images/News.jpg);
	background-repeat: repeat-x;
	width: 540pt;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	position: relative;
	top: 20px;
	text-align: left;
	float: right;
	right: 15px;
}
#bidpack
{
	background-image: url(../images/News.jpg);
	background-repeat: repeat-x;
	width: 540pt;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	position: relative;
	top: 40px;
	text-align: left;
	float:right;
	right: 15px;
}
.tblhead
{
	color: #FFFFFF;
	font-size: 10px;
	font-family: "trebuchet MS";
}
#allauctions
{
 background-color: #494949; height:auto; width: 228px; float:left;position:relative; margin-top: 24px; text-align: left;
}
#watchauc
{
	background-color: #A6A6A6;
	background-repeat: repeat-x;
	height: 20px;
	margin-top: 5px;
}
#wacimage
{
	font-size: 12px;
	width: 140px;
	float:left;
	text-align: center;
}
#wacdescription
{
	font-size: 12px;
	width: 220px;
	float:left;
	text-align: left;
}
#wacbidder
{
 	font-size: 12px;
	width: 80px;
	float:left;
	text-align: center;
}
#waccountdown
{
 	font-size: 12px;
	width: 120px;
	float:left;
	text-align: center;
}
#wacplacebid
{
 	font-size: 12px;
	width: 120px;
	float:left;
	text-align: center;
}
#wacdelete
{
 	font-size: 12px;
	width: 30px;
	float:right;
	text-align: left;
}
#wacimage1
{
	font-size: 12px;
	width: 140px;
	float:left;
	text-align: center;
	margin-top: 9px;
}
#wacdescription1
{
	font-size: 12px;
	width: 220px;
	float:left;
	text-align: left;
	margin-top: 6px;
}
#wacbidder1
{
 	font-size: 12px;
	width: 80px;
	float:left;
	text-align: center;
	margin-top: 20px;
}
#waccountdown1
{
 	font-size: 12px;
	width: 120px;
	float:left;
	text-align: center;
	margin-top: 20px;
}
#wacplacebid1
{
 	font-size: 12px;
	width: 120px;
	float:left;
	text-align: center;
	margin-top: 20px;
}
#wacdelete1
{
 	font-size: 12px;
	width: 30px;
	float:right;
	text-align: left;
	margin-top: 25px;
}
#watchauc1
{
	height: auto;
	vertical-align: middle;
}
#paging
{
	width: 540pt;
	position: relative;
	top: 20px;
	text-align: left;
	float: right;
	right: 15px;
}
#biddate
{
	font-size: 12px;
	width: 120px;
	float:left;
	font-size: 14px;
	text-align: center;	
}
#biddescription
{
	font-size: 12px;
	width: 390px;
	float:left;
	text-align: left;	
	font-size: 14px;
	margin-left: 15px;
}
#bidbalance
{
	font-size: 12px;
	width: 100px;
	float:right;
	font-size: 14px;
	text-align: center;	
}
#liveauctions
{
	background-image:url(../images/button_img.jpg);
	background-repeat: repeat-x;
	width: 944px;
	height: 22px;
	border-color: #009999;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}
#liveaucbody
{
	width: 944px;
	border-color: #009999;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
}
#productname
{
	background-color: #DFDFDF;
	height: 100px;
	width: 967px;
	margin-top: 2px;
}
#productname #auctiontype
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	float: right;
	text-align:left;
	width: 230px;
	height: 50px;
}
#productimage
{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 432px;
	width: 350px;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}
#productimage #mainimage1
{
	height: 310px;
	width: 350px;
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
}
#productimage #mainimage2
{
	height: 310px;
	width: 350px;
	text-align: center;
	margin-top: 10px;
	display: none;
}
#productimage #mainimage3
{
	height: 310px;
	width: 350px;
	text-align: center;
	margin-top: 10px;
	display: none;
}
#productimage #mainimage4
{
	height: 310px;
	width: 350px;
	text-align: center;
	margin-top: 10px;
	display: none;
}
#productimage #otherimage
{
	background-color: #DFDFDF;
	height: 112px;
	width: 350px;
	text-align: center;
}
#productimage #otherimage #otherimageprd_1
{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	background-color: #FFFFFF;
	height: 60px;
	width: 80px;
	text-align: center;
	margin-top: 15px;
	float:left;
	cursor: pointer;
}
#productimage #otherimage #otherimageprd_2
{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	background-color: #FFFFFF;
	height: 60px;
	width: 80px;
	text-align: center;
	margin-top: 15px;
	float:left;
	cursor: pointer;
}
#productimage #otherimage #otherimageprd_3
{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	background-color: #FFFFFF;
	height: 60px;
	width: 80px;
	text-align: center;
	margin-top: 15px;
	float:left;
	cursor: pointer;
}
#productimage #otherimage #otherimageprd_4
{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	background-color: #FFFFFF;
	height: 60px;
	width: 80px;
	text-align: center;
	margin-top: 15px;
	float:left;
	cursor: pointer;
}
#productprice
{
	border: solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 270px;
	width: 300px;
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#productprice1
{
	border: solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 156px;
	width: 300px;
	float:left;
	margin-left: 5px;
	margin-top: 4px;
}
#productprice1_ended
{
	border: solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 270px;
	width: 300px;
	float:left;
	margin-left: 5px;
	margin-top: 4px;
}
#productprice_ended
{
	border: solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 156px;
	width: 300px;
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}
#producthistory
{
	border: solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 110px;
	width: 280px;
	float:left;
	margin-left: 5px;
}
#producthistory1
{
	border: solid;
	background-repeat: repeat-x;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 200px;
	width: 280px;
	float:left;
	margin-left: 5px;
}
#producthistory1_hidden
{
	border: solid;
	background-repeat: repeat-x;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 200px;
	width: 280px;
	float:left;
	margin-left: 5px;
	margin-top: -155px;
	display: none;
}
#producthistory2
{
	border: solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 109px;
	width: 280px;
	float:left;
	margin-left: 5px;
	margin-top: 4px;
}
#productdesc
{
	 margin-left: 15px;
	 margin-top: 15px;
	 text-align: left;
}
#productdesc ul
{
	list-style: disc;
}
#login_1
{
	height: 140px;
	width:220px;
	margin-top: 10px;
}
#auctionimage
{
	margin-left: 2px;
	float: left;
	width: 100px;
}
#auctiondescription
{
	float: left;
	width: 450px;
	margin-left: 20px;
	text-align: left;
}
#auctionprice
{
	float: left;
	width: 132px;
}
#auctionbidder
{
	float: left;
	width: 100px;
}
#auctioncountdown
{
	float: right;
	width: 110px;
	padding-right: 10px;
}
#auctionendtime
{
	float: left;
	width: 40px;
	padding-right: 10px;
}
#auctionsaving
{
	float: right;
	width: 60px;
	padding-right: 5px;
}
#displayprd
{
	height: 88px;
	padding-bottom: 5px;
}
#displayprd_gray
{
	background-color: #EEEEEE;
	height: 88px;
	padding-bottom: 5px;
}
#auctionimage1
{
	float: left;
	margin-left: 5px;
	width: 100px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 80px;
	margin-top: 5px;
	background-color: #FFFFFF;
}
#auctiondescription1
{
	float: left;
	width: 440px;
	margin-left: 10px;
	text-align: left;
	margin-top: 5px;
	font-size: 12px;
	padding-right: 10px;
}
#auctionprice1
{
	float: left;
	width: 132px;
	margin-top: 5px;
}
#auctionbidder1
{
	float: left;
	width: 110px;
	margin-top: 5px;
}
#prd_countdown
{
	float: right;
	width: 120px;
	padding-right: 10px;
	margin-top: 5px;
}
#zoomimage
{
	background-color: #999999;
	height: 15px;
	margin-top: 5px;
}
.allliveauction
{
	color: #FFFFFF;
}
.alinkauctions
{
	color: #1135bd;
	font-size: 12px;
	font-family: "trebuchet MS";
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}
.alinkauctions:hover
{
	text-decoration: underline;
}
#bidhistory
{
	width: 300px;
	height: auto;
	float: right;
	padding-right: 50px;
}
#historytop
{
	background-image: url(../images/hg_gbkdetails_t.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 300px;
}
#historybot
{
	background-image: url(../images/hg_gbkdetails_b.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 300px;
	position:relative;
}
#historydetails
{
	height:auto;
	width: 300px;
}
#detailsimage
{
	background-image: url(../images/detailline.png);
	background-repeat: no-repeat;
	height: 65px;
	width: 10px;
	margin-left: 240pt;
	position: absolute;
	margin-top: -5px;
}
#displayauction
{
	height: 68px;
	padding-bottom: 5px;
}
#displayauction_gray
{
	background-color: #EEEEEE;
	height: 68px;
	padding-bottom: 5px;
}
#displaybidhistory
{
	height: 48px;
	padding-bottom: 5px;
}
#displaybidhistory
{
	background-color: #EEEEEE;
	height: 48px;
	padding-bottom: 5px;
}
#threeliveauctionimage
{
	float: left;
	margin-left: 15px;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	background-color: #FFFFFF;
}
#threeauction{
	height: 128px;
	width: 320px;
	margin-top: 30px;
	left: 52px;
	float:left;
	clear:right;
	text-align: center;
}
.mkpaybtnn
{
	background-image:url(../images/button1.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	width: 125px;
	font-weight: bold;
	border: 0 0 0 0;
	height: 25px;
	cursor: pointer;
}
#makepaymenttitle
{
 	font-size: 12px;
	width: 120px;
	float:left;
	text-align: center;
}
#wonacceptdenied
{
 	font-size: 12px;
	width: 120px;
	text-align: center;
	float:left;
	margin-top: 20px;
}
#wonpayment
{ 	
	font-size: 12px;
	width: 120px;
	float:left;
	text-align: center;
	margin-top: 20px;
}
#bid_history_id
{
	color: #FFFFFF;
	float: left;
	width: 280px;
	background-image:url(../images/All_categories.jpg);
	background-repeat: repeat-x;
}
.bookbid
{
	background-image:url(../images/button1.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	width: 60px;
	font-weight: bold;
	border: 0 0 0 0;
	height: 22px;
	cursor: pointer;
}
#bidbutler_show
{
	float:left;
	color: #FFFFFF;
	width: 140px;
	cursor:pointer;
	background-image:url(../images/All_categories.jpg);
	background-repeat: repeat-x;
	text-align:left;
}
#bidbutler_show1
{
	float:left;
	width: 140px;
	cursor:pointer;
	font-size: 12px;
	text-align:left;
}
#bidbutler_show_hide
{
	float:left;
	width: 140px;
	cursor:pointer;
	font-size: 12px;
	background-repeat: repeat-x; text-align:left;
}
#bidbutler_hide_show
{
	float:left;
	width: 140px;
	cursor:pointer;
	color: #FFFFFF;
	background-image:url(../images/All_categories.jpg);
	background-repeat: repeat-x;
	text-align:left;
	font-size: 12px;
}
#producthistory1_show
{
	color: #FFFFFF;
	float: left;
	width: 140px;
	cursor:pointer;
	background-image:url(../images/All_categories.jpg);
	background-repeat: repeat-x;
}
.alink_help
{
  text-decoration: none;
  color: #454e53;
  cursor: pointer;
  margin-left: 5px;
}
.alink_help:hover
{
	text-decoration: underline;
}
.setlist_help
{
	font-size: 14px;
	color: #000000;
	margin-left: 10px;
}
.paging
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.paging:hover
{
	text-decoration: underline;
}
#feedback_center
{
	background: url(../images/All_categories.jpg) repeat-x;
	width: 700px;
	margin-top: 60px;
	border: 1px solid;
}
#feedback_username
{
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	margin-left: 50px;
}
.style10_price {
	color: #6f0f10;
	font-size: 20px;
	font-family: Arial Black, Arial, Helvetica, sans-serif;
}
.style11_bidder {
	color: #666666;
	font-size: 18px;
	font-family: "trebuchet MS";
}
.style9999 {
	color: #000000;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.style15_counter {
	color: #000044;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style15_counter_account {
	color: #000044;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style9_biddername {
	color: #000000;
	font-size: 16px;
	font-family: "trebuchet MS";
}
#feedback_center_1
{
	background: url(../images/All_categories.jpg) repeat-x;
	width: 710px;
	margin-top: 60px;
	border: 1px solid;
	background-color: #D2D2D2;
}
.important{
	color: Red;
}
