.menu ul li a.hide, .menu ul li a:visited.hide {display:none;}
.menu ul li a:hover ul li a.hide {display:none;}

.menu ul li a:hover {color:#ffffff; background:url(../images/but_all_categories_hover.jpg) no-repeat;}
.menu ul li a:hover ul {display:block; position:absolute; top:32px; left:0; width:200px;}
.menu ul li a:hover ul li a.sub {background:#fff; color:#fff;}
.menu ul li a:hover ul li a {display:block; background:url(../images/All_categories_hover1.jpg); color:#ffffff; height: 25px;}
.menu ul li a:hover ul li#ddf a{display:block; background:url(../images/All_categories_last.jpg); color:#ffffff; background-repeat:no-repeat;}
.menu ul li a:hover ul li a ul {visibility:hidden;}
.menu ul li a:hover ul li a:hover {background:url(../images/All_categories_hover.jpg); color:#434343;}
.menu ul li a:hover ul li a:hover ul {visibility:visible; position:absolute; left:200px; top:0; color:#ffffff;}
.menu ul li a:hover ul li a:hover ul.left {left:-200px;}

/* Date:26-Aug-2008 */
#displayauction_bid_history
{
	height: 100%;
	padding-bottom: 5px;
	clear: both;
	overflow:visible;
	position:relative;
}
#displayauction_bid_history_gray
{
	background-color: #EEEEEE;
	height: 100%;
	padding-bottom: 5px;
	clear: both;
	overflow:visible;
	position:relative;
}

#detailsimage
{
	background-image: url(../images/detailline.png);
	background-repeat: no-repeat;
	height: 65px;
	width: 10px;
	float: right;
	text-align: right;
	margin-top: -10px;
	position: relative;
}
#settopmargin
{
	margin-top: -8px;
}
#settopmargin2
{
	margin-top: -13px;
}
#settopmargin3
{
	margin-top: -6px;
}
.smallhr
{
	color: #999999;
	border: 1px solid;
}
.zoomimagepadding
{
	padding-top: 16px;
}
#setleftmargin
{
	margin-left: -10px;
}
.formmargin
{
	margin-top: -20px;
}
.openAuction_itemname {
	font-family:"arial narrow";
	font-size:14px;
	color:#022c7f;
	text-decoration:none;
	font-weight:bold;
	height: 35px;
	width: 292px;
	padding-top: 12px;
	padding-left: 15px;
}

#header_top 
{
	width:980px;
	height:156px;
	clear:both;
	float: left;
}
#productdetailtopmargin
{
	margin-top: -7px;
}

.zoomimagemargin
{
	margin-top: -4px;
}
#inner-buybids-lmargin
{
	padding-right: 0px;
	float: right;
}	