@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700');
/* CSS Document */
body {
	background:#000 url(../images/bg.png) repeat-x;
	font-family:arial;
	font-size:12px;
	color:#666;
	padding:0;
	margin:0;
	/*overflow-x: hidden;*/
}
/*a{
	text-decoration: none;
	color: #555;
}
a:hover{
	text-decoration: none;
	color: #000;
}*/
a img{
    border: none;
}
.h1, h2, h3, h4 h5 {
	font-family: 'Roboto Condensed', sans-serif;
}
.header {
	width:1200px;
	margin:auto;
    position: relative;
}

.cell-topo{
    position: absolute;
    top: 38px;
    left: 327px;
    color: white;
    font-size: 23px;
}

.header-date{
	position: relative;
	top: -15px;
	color: white;
    font-size: 12px;
    padding-left: 72px;
}
.topo {
	background:#000 url(../images/bg_topo.png) repeat-x;
	height:137px;
	border-bottom:6px solid #4b8752; }
.logo {
	padding:15px 0;
	}
.login {
	color:#fff !important;
	margin: 30px 0 20px;
}
.login td{
    color: #fff;
    font-size: 12px;
}
.inbusca {
	width:300px;
	font-size:12px;
	color:#999;
	padding:5px;
}
.busca {
	margin-top: 5px;
}
.menu {
	margin-bottom:-7px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff;
	font-size:15px;
}
.menu a {
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff !important;
	font-size:15px;
	font-weight: normal;
	padding: 0 10px;
	text-transform:uppercase;
	text-decoration:none;
}
.menu_rodape {
	margin-bottom:5px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff;
	font-size:15px;
}
.menu_rodape a {
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff;
	font-size:12px;
	padding: 0 2px;
	font-weight: normal;
	text-transform:uppercase;
	text-decoration:none;
}
#main_div {
	background:#fff url(../images/bg_corpo.png) repeat-x top;
	min-height:500px;
	margin:auto;
	padding: 5px 20px 15px 20px;
	display: table;
	width: 1160px;
	min-width: 1160px;
	max-width: 1160px;
}
#middle_div{
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    width: 670px;
    float: left;
    clear: none;
}
#middle_div .openAuction_bar_mainDIV2_static{
    width: auto;
    position: relative;
    display: block;
    float: none;
}

.staticbody{
    position: relative;
    display: block;
    width: auto;
    float: none;
    top: 0;
    left: 0;
}
.staticbody .staticright{
    position: relative;
    display: block;
    padding: 10px;
    margin: 0;
    width: auto;
    float: none;
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: rgb(250,250,250);
}
.staticbody .staticcenter{
  padding: 10px !important;
  margin: 0 0 0 10px !important;
  width: 605px !important;
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  min-height: 400px !important;
  background: rgb(250,250,250);
}
.conta  {
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff !important;
	font-weight: normal !important;
	font-size:15px;
	padding: 0 10px;
	text-transform:uppercase;
	text-decoration:none;
}
.news {
	max-width:240px;
	height:236px;
	padding:10px 20px;
	background: url(../images/bg_news.png) no-repeat ;
	margin-bottom:30px;
}
.news h2 {
	margin: 0 0 10px 0;
	font-weight:500;
}
.item_news {
	border-bottom:1px solid #ccc;
	margin-bottom:5px;
	padding-bottom:5px;
}
.miolo {
    position: relative;
    display: table;
	width:890px;
	max-width:840px;
	min-height:1040px;
	padding:0 25px 25px 25px;
	margin: 0 15px 15px 15px;
	background: rgb(250,250,250) repeat-y ;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #aaa;
	z-index: 1;
}
.menu2 { 
    position: relative;
    display: table;
    width:100%;
    height:40px;
    margin-bottom: -5px;
    z-index:3;
}
.menu_miolo {
	width:841px;
	margin:auto;
	list-style-type:none;
    padding-left: 125px;

}
.menu_miolo li {
	font-family: 'Roboto Condensed', sans-serif;
	color:#666;
	text-transform:uppercase;
	font-size:11px;
	width:168px;
	float:left;
	background: transparent;
	list-style:none;
	text-align:center;
	line-height:40px;
	text-decoration:none;
}
.menu_miolo li a {
    position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	color:#666;
	text-transform:uppercase;
	font-size:11px;
	width:148px;
	margin: auto;
	background: rgb(200,200,200) no-repeat top;
	display: block;
	border-bottom: 1px solid #aaa;
	text-align:center;
	line-height:35px;
	text-decoration:none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -o-border-top-left-radius: 8px;
    -o-border-top-right-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -ms-border-top-right-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.menu_miolo li a:active {
	border-bottom: 1px solid rgb(250,250,250);
	background: rgb(250,250,250) no-repeat top;
}
.menu_miolo li a.active {
	border-bottom: 1px solid rgb(250,250,250);
	background: rgb(250,250,250) no-repeat top;
}
.menu_miolo li a:hover {
	border-bottom: 1px solid rgb(250,250,250);
	background: rgb(250,250,250) no-repeat top;
}
.tela {
	margin:20px 0;
}
.intro {
	margin:auto;
}
.destaques {
	margin:auto;
	margin-bottom:20px;
}
.item {
	background: rgb(250,250,250) no-repeat top;
	min-height:122px;
	padding:20px 20px;
	margin:auto;
	margin-bottom:20px;
	border: 1px solid #aaa;
    border-radius: 4px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.rodape {
	background:#726d6b;
	padding:20px 0;
	width:100%;
	min-height:120px;
}
.footer {
	width:1100px;
	margin:auto;
}
.BtnEntrar:hover{
	border: 1px solid #000;
}
/* everaldo */
#formLogin1 input[type="text"],
#formLogin1 input[type="password"]{
    border: 2px solid #fff;
    margin: 2px;
    padding: 1px 0;
}
#formLogin1 input[type="text"]:focus,
#formLogin1 input[type="password"]:focus{
    border: 2px solid #fff;
    margin: 2px;
    padding: 1px 0;
}
#password-password{
    /*display: none;*/
}
.logo img{
    border: none;
}
.my-account-left{
    padding: 0;
    margin-top: 20px;
} 
.my-account-left .title{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -o-border-top-left-radius: 8px;
    -o-border-top-right-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -ms-border-top-right-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
#register-now-box{
    margin-left: 0;
}
.openAuction_bar_mainDIV2_static{padding:0;}
#help-container{
    width: 880px;
}
#help-container #left-side{
    padding: 0;
}
#help-container #left-side{
    float: right;
    padding-top: 5px;
}
#help-container #side-left,
#help-container #center{
    margin: 0;
    padding-top: 5px;
}
#help-container #center-head{
    width: 880px;
    color: #fff;
}
#help-container #center-head #helpbar-middle{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -o-border-top-right-radius: 8px;
    -o-border-top-left-radius: 8px;
    -ms-border-top-right-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
}
#help-container #center,
#help-container #center .container{
    width: 850px;
}
#help-container #center .container{
    border: 1px solid #CDDCE9;
    margin-bottom: 10px;
    background: rgb(250,250,250);
}
#help-links{
    list-style: none;
    padding: 0;
}
#help-links li{
    height: 30px;
    line-height: 30px;
}
#already-registered{
    margin-left: 20px;
    float: right;
}
#form-faleconosco{
    width: auto;    
}
.staticbody + #left-side{
    float: right;
    margin: 20px 0 0 0;
}
.register-form{
    display: table;
    width: 628px;
}
.register-form h4{
    height: 26px;
    line-height: 26px;
    width: auto;
    display: block;
    float: none;
}
.register-form input[type="password"],
.register-form input[type="text"]{
    width: 280px;
}
.register-form > .box{
    width: 46%;
    margin: 0;
}
.register-form > .box:last-child{
    float: right;    
}
#middle_div .reg{
	position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: 1px solid #aaa;
    margin: 10px 0  0 0;
    padding-bottom: 20px;
    width: auto;
    background-color: rgb(250,250,250);
}
#middle_div.ma{
    margin: 0;
    position: relative;
    display: block;
    width: 100%;
}
.admin_page #middle_div{
    margin: 0;
    width: 100%;
}
.esquerda{
    float: left;
    width: 246px;
    padding: 15px 0;
}
.menu_rodape a{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}
.noauction_message{
    text-align: center;
}
#form_affiliate{
    width: 500px;
}
#form_affiliate textarea{
    width: 490px;
}
#form_affiliate input{
    margin:10px 0 0 0;
    float: right;
}
/* ADMIN */
.inner-container.content-center{
    margin: 20px 0 20px 20px;
}
.inner-container.content-center .titlebar{
    height: 38px;
}
.inner-container.content-center .titlebar{
    width: 938px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -o-border-top-right-radius: 8px;
    -o-border-top-left-radius: 8px;
    -ms-border-top-right-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    overflow: hidden;
    position: relative;
}    
.inner-container.content-center{
    width: 938px;
    border-radius: 8px;
    border-radius: 8px;
    -o-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #CDDCE9;
    overflow: hidden;
    position: relative;
}    
.inner-container.content-center .noauction_message,
.inner-container.content-center .page_title_font{

}
.inner-container.content-center > div{
    float: left;
}
.inner-container .bodypart{
    padding: 0 25px;
    width: auto;
    margin-top: 58px;
    position: relative;
    display: block;
    float: none !important;
    border: none;
}
.inner-container.content-center .titlebar .middlebar{
    width: 926px;
}
.inner-container .bodypart .strip,
.inner-container .bodypart .sub-strip{
    width: auto;
}
[type="image"]{
    border: none;
}
#newdepo input[type="text"],
#newdepo textarea{
    width: 300px;
    max-width: 800px;
}
#formcontact input[type="text"],
#formcontact textarea{
    width: 550px;
    max-width: 550px;
}
.destaques .item.item_box{
    width: 230px;
    float: left;
    position: relative;
    display: table;
    overflow: hidden;
    background-image: none;
    background-color: #fff;
    margin-left: 6px;
    border: 1px solid #e0e0e0;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);  */
    border-radius: 4px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;  
}
.destaques .item.item_box:first-child,
.destaques .item.item_no_margin{
    margin-left: 0 !important;
}
.destaques .item_title{
    float:right;
    width:200px;
    margin: 0 0 10px 0;
    text-align: right;
    height:20px;
    line-height:20px;
}
.destaques .item_image{
    position: relative;
    text-align: center;
    width:210px;
    display: block;
    margin: 0;
    clear: both;
}
.destaques .item_counter{
    float:left;
    width: 50px;
    height:20px;
    line-height:20px;
    position: absolute.
    top:0;
    left:0;
}
.destaques .item_view{
    float: left;
}
.destaques .item_enter{
    float: right;
}
.destaques .item_view:hover img{
    border: none;
}
.addressline{
    width: auto;
}
.bodypart #middle{
    margin: 0;
}
#pagination{
    position: relative;
    display: table;
    clear: both;
    width: 100%;
    text-align: center;   
}
#pagination > strong,
#pagination > a{
    padding: 0 10px;
    height:20px;
    line-height: 20px;
}
#product_details_main.pdpage  .auctypedetail{
    margin: 0 !important;
    width: auto;
}
#product_details_main.pdpage  .openAuction_bar_mainDIV2 .productdetail_box_container .productdetail_box{
    position: relative;
    display: table;
    margin:0 0 18px 0;
    width: auto;
    text-align: center;
}
#product_details_main.pdpage .productdetail_box_container.videos_list,
#product_details_main.pdpage .productdetail_box_container.videos_list .productdetail_box,
#product_details_main.pdpage .productdetail_box_container.videos_list .middlepart{
    width:353px;
    float: right;
}
#product_details_main.pdpage #centered{
    position: relative;
    display: table;
    float: left;
    margin:0 0 0 70px !important;
}
#product_details_main.pdpage .auctypedetail,
#product_details_main.pdpage .product-name-bar,
#product_details_main.pdpage .product-name-bar .title{
    margin: 0;
    padding:0;
    height: 30px;
    line-height: 30px;
}
.fancybox-inner #centered{
    float: right;
    width: 300px;
    margin-top: 40px;
}
.button{
display: table;
    width: auto;
    padding: 10px 20px;
    margin: auto;
    background: #efefef;
    border: 1px solid #bbb;
    border-radius: 4px;
}
.menu_galeria a{
    border-bottom: none !important;
}
.fancybox-inner #product_details_main{
    width:100%;
    margin:0;
}
.fancybox-inner .more_details{
	width: 309px;
	text-align: left;
}
.facybox-inner #origin{
	position: relative;
	display: table;
	overflow: hidden;
	width: 99%;
	clear: both;
}
.facybox-inner #origin p{
	
	
}
.fancybox-inner .menu2{
    width: 412px;
}
.fancybox-inner .more_details,
.fancybox-inner #centered,
.fancybox-inner .pdetails{
	position: relative;
    float: left;
	display: table;
}
.fancybox-inner .product-name-bar-left{
    padding: 20px;
    height: 30px;
    line-height: 30px;
    font-size:32px !important;
    color: green;
}
.fancybox-inner .product-name-bar-left .title{
    font-size:32px !important;
    color: green;
}
.fancybox-inner .openAuction_bar_mainDIV2 .productdetail_box_container{
    position: relative;
    display: table;
    clear: none;
    width: 99%;
    margin:0 0 20px 0;
    float: left;
}
.fancybox-inner .openAuction_bar_mainDIV2 .productdetail_box_container .productdetail_box{
    position: relative;
    display: table;
    margin:0 0 18px 0;
    width: auto;
    text-align: center;
}
.fancybox-inner .productdetail_box .middle_part{
    position: relative;
    width: auto;
}
.fancybox-inner #productdetailtopmargin{
    position: relative;
    width: auto;
    overflow: hidden;
}
.fancybox-inner .auctypedetail{
    width: auto;
    height: 30px;
    line-height: 30px;
}
.fancybox-inner .product-name-bar .title{
    margin: 0;
}
.fancybox-inner .productdetail_box .middlepart .row,
.fancybox-inner .savingline{
    width: 100%;
}
.fancybox-inner .normal_text_small{
    padding-left: 10px;
}
.fancybox-inner .typicalworthup{
    padding-left: 10px;
}
.youtube_player{
    width: 353px;
    height: 275px;
}
.fancybox-inner .product-name-bar{
    width: auto;
    padding: 0;
}
.fancybox-inner .bigimage > div{
    text-align: center;
}
.fancybox-inner .bigimage > img{
    position: relative;
    margin: 0 auto;
}



#result_list .item_image{
    float: left;
    margin-right:10px;
    width: 20% !important;
    position: relative;
    display: table;
}
#result_list .item_info p{
    height: 20px;
    line-height: 20px;
    margin:0;
}
#result_list .item_info,
#result_list .item_view{
    float: left;
    margin-right:10px;
    width: 60% !important;
    position: relative;
    display: table;
}
#result_list .item_view{
    margin-top: 10px;
}
.strip-title{
    height: 27px;
    line-height: 27px;
}
.inner-container .bodypart .even-row .evenproductdesc{
    padding-top: 20px;
}
.inner-container .bodypart .even-row{
    width: auto;
    background-image: none;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #c1d8ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c1d8ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#c1d8ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#c1d8ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#c1d8ea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#c1d8ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1d8ea',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c1d8ea;
    border-radius: 8px;
    margin-bottom: 10px;
}
#origem-lote	ul{
    padding: 0;
}

.cabecalho-detalhe-lote {
	border: 0px none;
}

.origem{
    padding: 20px;
}

#arvore_origem {
	border-right: 1px solid #E9EBED;
	color: #666;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.pais {
	display: table;
	width: 100%;
}
.pais > li {
	display: table-row;
	margin: 0 0 1px;
}
.pais > li > div {
	border: 1px solid #E9EBED;
	display: table-cell;
	vertical-align: middle;
	width: 25%;
    height: 20px;
    line-height: 20px;
}
.avos, .bisavos, .tataravos {
	display: table-cell;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
}
.avos > li, .bisavos > li {
	display: table;
	width: 100%;
}
.avos > li > div {
	border: 1px solid #E9EBED;
	display: table-cell;
	vertical-align: middle;
	width: 33.1%;
    height: 20px;
    line-height: 20px;
}
.bisavos > li > div{
	background-color: #FFFFFF;
	border: 1px solid #E9EBED;
	display: table-cell;
	width: 49.8%;
	vertical-align: middle;
    height: 20px;
    line-height: 20px;
}
.tataravos > li {
	border: 1px solid #E9EBED;
	display: table;
	width: 100%;
    height: 20px;
    line-height: 20px;
}
#header_origem {
	background-color: #F7F7F7;
	color: #333333;
	font-weight: bold;
	text-align: justify;
}
#header_origem img {
	border: 1px solid #E9EBED;
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px;
}
#header_origem h3 {
	display: inline-block;
	font-size: 18px;
	margin: 10px 0;
}
#header_origem h5 {
	font-size: 14px;
	margin-bottom: 2px;
}
#header_origem p {
	color: #999999;
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
}
.img-origem {
    float: left;
    width: 234px;
}
.dados-origem {
    float: right;
    width: 378px;
    padding: 0 10px;
}
/* everaldo */

.corpo{
    background: #fff url(../images/bg_corpo.png) repeat-x top;
    min-height: 500px;
    margin: auto;
    padding: 5px 20px 15px 20px;
    display: table;
}


.galeria {
    position: relative;
    display: table;
	width:360px;
	min-height:250px;
	max-width:360px;
	padding:0 25px 25px 25px;
	margin: 0 15px 15px 15px;
	background: rgb(250,250,250) repeat-y ;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #ccc;
	z-index: 1;
}
.menu_galeria {
	width:360px;
	margin:auto;
	list-style-type:none;
}

.menu_galeria li {
	font-family: 'Roboto Condensed', sans-serif;
	color:#666;
	text-transform:uppercase;
	font-size:11px;
	width:168px;
	float:left;
	background: transparent;
	list-style:none;
	text-align:center;
	line-height:40px;
	text-decoration:none;
}
.menu_galeria li a {
    position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff;
	text-transform:uppercase;
	font-size:11px;
	width:148px;
	margin: auto;
	background: rgb(115,115,115) no-repeat top;
	display: block;
	border-bottom: 1px solid #aaa;
	text-align:center;
	line-height:35px;
	text-decoration:none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -o-border-top-left-radius: 8px;
    -o-border-top-right-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -ms-border-top-right-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.menu_galeria li a:active {
	border: 1px solid rgb(190,190,190);
	background: rgb(250,250,250) no-repeat top;
    color: #666;
}
.menu_galeria li a.active {
	border: 1px solid rgb(190,190,190);
	background: rgb(250,250,250) no-repeat top;
    color: #666;
}
.menu_galeria li a:hover {
	border: 1px solid rgb(190,190,190);
	background: rgb(250,250,250) no-repeat top;
    color: #666;
}

.right{
    float: right;
}
 .left{
    float: left;
 }
 .emptyLink, .emptyLink:visited{
    color: #FFF;
    text-decoration: none;
 }
 .emptyLink:hover{
    color: #36AA3F;
 }
 .bxslider li img{
    margin: 0 auto;
 }
 #mainimage1,#mainimage2,#mainimage3,#mainimage4, #divZoomIn img{
    cursor: pointer !important;
 }
 .login table{
    float: right;
 }
 .login table tr{
    left: 900px;
 }
 .sold {
    margin: -9px !important;
    position: absolute;
    z-index: 9;
 }