.login {
	float:right;
	text-decoration:none;
	color:#333;
}
.login a {
	float:right;
	text-decoration:none;
	color:#FFF;
	font-size: 14px;
	line-height: 33px;
	margin-right: 10px;
}
.topo {
    position:relative;
    width: 1080px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 26%, rgba(255,255,255,0.85) 37%, rgba(255,255,255,0) 100%), url(../images/pattern.png); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(26%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0))), url(../images/pattern.png); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 26%,rgba(255,255,255,0.85) 37%,rgba(255,255,255,0) 100%), url(../images/pattern.png); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 26%,rgba(255,255,255,0.85) 37%,rgba(255,255,255,0) 100%), url(../images/pattern.png); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 26%,rgba(255,255,255,0.85) 37%,rgba(255,255,255,0) 100%, url(../images/pattern.png)); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 26%,rgba(255,255,255,0.85) 37%,rgba(255,255,255,0) 100%, url(../images/pattern.png)); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.bg_color_new {
    background: #fbd437;
}
.topo_new {
    position:relative; 
    background: url(../images/pattern2.png);
	margin-bottom:20px;
}
.topo .logo {
	width: 227px !important;
	float: left;
	height: 190px;
}
.topo2 {
    position:relative;
    width: 1080px;
    margin: 0 auto;
    height: 139px;
}
.topo2 .logo {
	position: absolute;
}
.topo2 .toolbar {
    background: #363636;
    padding: 5px 15px;
    width: 155px;
    float: right;
    margin-left: 380px;
}
.topo2 .toolbar_new {
    width: 380px;
    background: url(../images/bg_top_black.png) no-repeat;
    padding: 5px 5px;
    float: right;
    margin-left: 150px;
}
#password-clear {
    display: none;
}
.topo2 strong {
    font-size: 16px;
}
.data_topo {
    background: transparent;
    float: right;
    padding-top: 20px;
}
.campoM {
    width: 150px;
    height: 26px;
    padding-left: 7px;
}
.campoP {
    width:100px;
	height: 26px;
	padding-left: 7px;
}
.topo .toolbar {
    background: #363636;
    padding: 5px 15px;
    width: 155px;
    float: right;
    margin-left: 380px;
}
.toolbar_login {
    background: transparent;
    width: 96%;
    padding-top: 70px;
}
.toolbar2 {
    background: transparent;
    width: 700px;
    padding-top: 70px;
}
.section {
    width:100%;
    overflow:hidden;
	margin-top:5px;
	background:#fdd734;
}
.section2 {
    width:100%;
    overflow:hidden;
	background: url(../images/top_bar_new.png);
    height: 69px;
}
.section2 .content {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
.sectionFooter {
    background:#fff url(images/bg-footer-conteudo.jpg) no-repeat top left;
    height:10px;
    margin-bottom:10px
}
.headerBar {
    width:100%;
    background:transparent no-repeat top left;
    position:relative
}
.menu {
    float:right;
    margin-right:175px;
    width: auto;
    height: auto;
    margin-top: 25px;
}
.menu li {
    float:left;
    margin:0 2px 0 0
}
.menu li a {
    display:block;
    float:left;
    font-size:20px;
    height:18px;
    line-height:16px;
    color:#000;
    text-decoration:none;
    font-weight:bold;
    padding:0 10px;
}
.menu li a:hover,.menu li.selected a {
    background-position:bottom left;
    color:#fff
}
.opcoes {
    float:right;
    padding:0;	
}
.opcoes li a {
    display:block;
    float:right;
    font-size:12px;
    height:34px;
    line-height:34px;
    color:#000;
    text-decoration:none;
    background:url(images/bg-menu.jpg) repeat-x top left;
    font-weight:400;
    padding:0 10px
}
